@primary-border: #E7E7E7;
@primary-background: #F8F8F8;
@open-status-border: #FECD62;
@closed-status-border: #F48185;
@primary-button-color: #FFAB31;
@secondary-background: #47AE9D;
@primary-color: #fff;
@secondary-color: #000;
@navbar-background: #41A292;
@secondary-text :#767F85;
@selectbox-background: #D3D7DA;
@list-background: #F1F5F6;
@base-background: #8F989D;

/*** mixins ***/

.pstyle {
    font-family: Roboto-Light;
    font-size: 12px;
}

.h3Style {
    color: @secondary-background;
    font-size: 16px;
    font-weight: 600;
}

.addIcon {
    background: url('../images/Sprite_FinRules1.png') no-repeat -32px -143px;
    width: 20px;
    height: 21px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    right: 0;
}

.listOfOptions {
    .searchIcon {
        background: url('../images/Sprite_FinRules1.png') no-repeat -547px -79px;
        width: 16px;
        height: 16px;
    }
    .conditionIcon {
        background: url('../images/Sprite_FinRules1.png') no-repeat -593px -76px;
        width: 16px;
        height: 19px;
    }
    .notesIcon {
        background: url('../images/Sprite_FinRules1.png') no-repeat -639px -76px;
        width: 15px;
        height: 19px;
    }
    li {
        display: inline-block;
        color: @secondary-background;
        padding: 7px;
        cursor: pointer;
        font-weight: 600;
        span {
            vertical-align: middle;
            padding-left: 5px;
        }
    }
}

.activeOption {
    ul {
        border-bottom: 1px solid @primary-border;
        .listOfOptions();
        li {
            padding: 20px 0;
            border-bottom: 1px solid @primary-button-color;
            &:first-child {
                vertical-align: middle;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 18px;
                border: none;
                span {
                    background: url('../images/Sprite_FinRules1.png') no-repeat -243px -209px;
                    width: 12px;
                    height: 20px;
                    vertical-align: bottom;
                }
            }
        }
    }
}

.OptionsInDetail {
    background-color: @primary-color;
    border: 1px solid @primary-border;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    width: 300px;
    -webkit-transition: all 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
    height: calc(~"100vh - 217px"); 
    position: absolute;
    right: -300px;
    top: 0;
    z-index: 3;
    p {
        font-size: 12px;
        line-height: 1.5;
        word-break: keep-all;
        color: grey;
    }
}

// .notes.show{
//   right: 0;
// }
.closeSection {
    cursor: pointer;
    background-color: @primary-background;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}
.marginalSpace{
  margin-bottom: 20px;
}

/*** container ***/

.activeConditionContainer {
    padding: 0 15px;
    span {
        display: inline-block;
        font-family: Roboto-Regular;
    }
    /***  main content ***/
    .content {
        position: relative;
        padding: 0 15px;
        overflow: hidden;
        .activeCondition {
            padding: 20px 0 3px;
            .add {
                background: url('../images/Sprite_FinRules1.png') no-repeat -139px -149px;
                width: 11px;
                height: 11px;
            }
            .addConditionSection {
                background: @secondary-background;
                color: @primary-color;
                padding-top: 9px;
                padding-bottom: 10px;
            }
            a {
                text-decoration: none;
                color: @primary-color;
                display: inline-block;
                label {
                    padding-left: 10px;
                    cursor: pointer;
                }
            }
            .search {
                padding: 7px;
                background: @primary-button-color;
                border-left: 2px solid @primary-color;
                cursor: pointer;
                text-align: center;
                span {
                    background: url('../images/Sprite_FinRules1.png') no-repeat -499px -79px;
                    width: 16px;
                    height: 16px;
                }
            }
            .optionMenu {
                .leftTabs {
                    float: left;
                    li {
                        display: inline-block;
                        padding: 8px 20px;
                        h3 {
                            .h3Style();
                        }
                    }
                    li:nth-child(2) {
                        color: @closed-status-border;
                        background: @primary-background;
                        border-radius: 3px;
                    }
                    li:nth-child(3) {
                        color: @secondary-text;
                    }
                }
                .rightTabs {
                    float: right;
                    .listOfOptions();
                }
            }
        }
        /*** List Of Options ***/
        .duFindingsWrapper {
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.4);
        }
        .duFindings {
            .OptionsInDetail();
            ul {
                li {
                    span {
                        color: @secondary-color;
                    }
                }
            }
            &.showMenu {
                right: 0;
            }
            .activeOption();
            p {
                padding: 15px;
            }
            .closeSection {
                span {
                    padding: 15px;
                    font-size: 13px;
                    color: grey;
                }
            }
        }
        .notes {
            .OptionsInDetail();
            ul {
                li {
                    span {
                        color: @secondary-color;
                    }
                }
            }
            &.showMenu {
                right: 0;
            }
            .notesHeader {
                .activeOption();
            }
            .notesDes {
                padding: 15px;
                overflow: auto;
                height: 85.6%;
                li {
                    position: relative;
                    border-left: 1px solid @primary-border;
                    .bullet {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: @secondary-background;
                        position: absolute;
                        top: 10px;
                        left: -5px;
                    }
                }
                h3 {
                    font-weight: 600;
                    color: @secondary-color;
                }
                .notesDate {
                    padding: 8px 30px;
                    background-color: @primary-background;
                }
                .task {
                    padding: 15px;
                    .author {
                        padding: 10px 0;
                        span {
                            padding-right: 5px;
                            font-size: 12px;
                            color: grey;
                        }
                        label {
                            padding-left: 5px;
                        }
                    }
                    p {
                        span {
                            color: #6DBCF1;
                            font-size: 12px;
                        }
                    }
                }
            }
            .closeSection {
                span {
                    padding: 15px;
                    width: 100%;
                    float: left;
                    text-align: center;
                }
                .view {
                    background-color: @secondary-background;
                    color: @primary-color;
                }
            }
        }
    }

    .mainSection {
        display: flex;
        margin-bottom: 10px;
        min-height: calc(100vh - 285px);
        .leftMenu {
            border: 1px solid @primary-border;
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
            box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
            padding: 0;
            position: relative;
            .button-wrapper-suspended {
              position: absolute;
              bottom: 0;
              width: 100%;
            }
            span {
                color: grey;
            }
            .category {
                background: @selectbox-background;
                border-radius: 0;
                padding: 10px;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                position: relative;
                cursor: pointer;
                font-size: 15px;
                .catageory-select {
                    background: url('../images/Sprite_FinRules1.png') no-repeat -677px -83px;
                    width: 12px;
                    height: 7px;
                    display: inline-block;
                    position: relative;
                    top: 3px;
                }
                .category-list {
                    border: 1px solid @primary-border;
                    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
                    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
                    position: absolute;
                    background-color: #ffffff;
                    width: 90%;
                    right: 0;
                    top: 35px;
                    z-index: 1;
                    div {
                        padding: 7px;
                        border-bottom: 1px solid #EBEFEE;
                        a {
                            color: #9AA1A4;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            ul {
                li {
                    padding: 10px;
                }
                li:first-child {
                    background: @list-background;
                    color: @secondary-text;
                    font-size: 12px;
                    margin: 0;
                    font-weight: bold;
                }
                li:nth-child(2) {
                    background: @base-background;
                    color: @primary-color;
                    .incomeStatus {
                        span {
                            color: white;
                        }
                        .pstyle();
                        margin-top: 10px;
                        .closed {
                            float: right;
                            padding: 0 20px;
                        }
                    }
                    .threeDotIcon {
                        background: url('../images/Sprite_FinRules1.png') no-repeat -769px -79px;
                        width: 3px;
                        height: 13px;
                        float: right;
                    }
                }
                li:nth-child(3),
                li:nth-child(5) {
                    .incomeStatus {
                        .pstyle();
                        margin-top: 10px;
                        .closed {
                            float: right;
                            padding: 0 20px;
                        }
                    }
                    .threeDotIcon {
                        background: url('../images/Sprite_FinRules1.png') no-repeat -809px -79px;
                        width: 3px;
                        height: 13px;
                        float: right;
                    }
                }
                li:nth-child(4) {
                    background: @list-background;
                    color: @secondary-text;
                    font-size: 12px;
                    font-weight: bold;
                }
                li:nth-child(5) {
                    border-bottom: 1px solid @primary-border;
                }
            }
        }
        .rightMenu {
            padding-top: 10px;
            .borrowerList {
                border-bottom: 1px solid @primary-border;
                li {
                    display: inline-block;
                    padding: 10px 20px;
                    border-bottom: 2px solid transparent;
                    a {
                        color: @secondary-color;
                    }
                }
               .active {
                    font-weight: 700;
                    border-bottom: 2px solid @navbar-background;
                }
            }
            .nav-pills {
                width: 210px;
                border: 1px solid #c9c9c9;
                border-radius: 6px;
                margin: 25px auto;
                .task {
                    width: 103px;
                    a {
                        width: 103px;
                    }
                }
                a {
                    color: #575757;
                    font-size: 15px;
                }
            }
            .nav-pills li.active a,
            .nav-pills li.active a:focus,
            .nav-pills li.active a:hover {
                color: #fff;
                background: #6E7D9A;
            } // .taskList {
            //     text-align: center;
            //     padding: 15px 0;
            //     width: 21%;
            //     margin: 0 auto;
            //     li {
            //         float: left;
            //         a {
            //             padding: 10px;
            //             display: block;
            //         }
            //     }
            //     li:first-child a {
            //         background: #6E7D9A;
            //         color: @primary-color;
            //     }
            //     li:last-child a {
            //         border: 1px solid @primary-border;
            //         border-radius: 3px;
            //     }
            // }
            h3 {
                padding-bottom: 15px;
                color: #757E86;
            }
            .editCondition {
                border: 1px solid @primary-border;
                // -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
                // box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
                background: @primary-background;
                h3 {
                    padding: 12px;
                    background: #9ea8bb;
                    color: @primary-color;
                }
                .descriptionList {
                    padding: 20px 15px;
                    .detail {
                        margin-bottom: 10px;
                    }
                    ul {
                        padding: 12px 10px;
                        border: 1px solid @primary-border;
                        position: relative;
                        background: @primary-color;
                        &.inner-content{
                          -webkit-box-shadow: 0 2px 2px rgba(185, 185, 185, 0.2);
                          box-shadow: 0 2px 2px rgba(185, 185, 185, 0.2);
                        }
                        .collapse.in.displayNone {
                            display: none;
                        } // margin-bottom: 10px;
                        // &:last-child {
                        //     margin: 0;
                        // }
                        li {
                            display: inline-block;
                        }
                        li:first-child {
                            cursor: pointer;
                            .dropdownIcon {
                                background: url('../images/Sprite_FinRules1.png') no-repeat -842px -77px;
                                width: 16px;
                                height: 17px;
                                display: inline-block;
                                margin-right: 5px;
                                vertical-align: text-bottom;
                            }
                            
                        }
                        li:nth-child(2) {
                            color: #dc0a0d;
                        }
                        
                        li:nth-child(4),
                        li:nth-child(5) {
                            .settingIcon {
                                background: url('../images/Sprite_FinRules1.png') no-repeat -809px -79px;
                                width: 3px;
                                height: 13px;
                                float: left;
                                cursor: pointer; //  display: inline-block;  
                                position: relative;
                                .validation_action {
                                    position: absolute;
                                    z-index: 2;
                                    top: -30px;
                                    left: -160px;
                                    padding: 0;
                                    border: 1px solid #B1B9C9;
                                    border-radius: 2px;
                                    width: 150px;
                                    .option {
                                        border-bottom: 1px solid #F8F8F8;
                                        padding: 10px;
                                        color: #949494;
                                        font-size: 11px;
                                        .delete {
                                            background: url('../images/Sprite_FinRules1.png') no-repeat -243px -146px;
                                            width: 13px;
                                            height: 16px;
                                            display: inline-block;
                                            vertical-align: sub;
                                            margin-right: 5px;
                                        }
                                        .manage {
                                            background: url('../images/Sprite_FinRules1.png') no-repeat -293px -146px;
                                            width: 16px;
                                            height: 16px;
                                            display: inline-block;
                                        }
                                        .reopen {
                                            background: url('../images/Sprite_FinRules1.png') no-repeat -346px -146px;
                                            width: 11px;
                                            height: 17px;
                                            display: inline-block;
                                            vertical-align: sub;
                                            margin-right: 2px;
                                        }
                                    }
                                    .tip {
                                        border: 10px solid;
                                        border-color: transparent transparent transparent #B1B9C9;
                                        position: absolute;
                                        top: 22%;
                                        left: 100%;
                                    }
                                    .in {
                                        top: 23%;
                                        left: 99%;
                                        border: 8px solid;
                                        border-color: transparent transparent transparent #ffffff;
                                    }
                                }
                            }
                        }
                        .col{
                          width: 12.5%;
                          .addIconTop {
                            .addIcon();
                            bottom: 32px;
                        }
                        .addIconMiddle {
                            .addIcon();
                            top: 32px;
                        }
                        }
                        .dropDown {
                            background: url('../images/Sprite_FinRules1.png') no-repeat -86px -145px;
                            width: 18px;
                            height: 18px;
                            float: right;
                        }
                        .plusIcon{
                          padding: 2px 15px;
                          color: #6E7D9A;
                          background-color: #eff0f2; 
                        }
                        .addIconTop {
                            .addIcon();
                            bottom: 22px;
                        }
                        .addIconMiddle {
                            .addIcon();
                            top: 22px;
                        }
                        .addIconBottom {
                            .addIcon();
                            top: 100px;
                        }
                    }
                    .addTask {
                        padding: 0;
                        border: 0;
                        background: none;
                        span {
                            background: url('../images/Sprite_FinRules1.png') no-repeat -32px -143px;
                            width: 20px;
                            height: 21px;
                            float: left;
                        }
                        label {
                            vertical-align: -webkit-baseline-middle;
                            margin-left: 20px;
                        }
                    }
                }
                .sourceInformation {
                    padding: 18px 25px; // margin: 0px 25px;
                    border: 1px solid #E7E7E7; // margin-bottom: 20px;
                    position: relative;
                    background: @primary-color;
                    .closeIcon {
                        background: url('../images/Sprite_FinRules1.png') no-repeat -193px -136px;
                        width: 10px;
                        height: 9px;
                        display: inline-block;
                        position: absolute;
                        right: 16px;
                    }
                    span {
                        font-weight: bold;
                    } // .soruce::after {
                    //     content: '|';
                    //     padding: 0 30px;
                    // }
                    p {
                        padding-top: 15px;
                    }
                }
            }
            .assets {
                margin-bottom: 80px;
                .row {
                    margin: 0;
                }
                @media only screen and (max-width: 1200px) {
                    [class^="col-xs"] {
                        padding: 0.3%;
                    }
                }
                h2 {
                    font-size: 18px;
                    font-weight: lighter;
                    color: grey;
                    font-family: Roboto-bold; // padding: 5px 20px 15px;
                    padding: 0.3% 1.6% 0.9%;
                    border-bottom: 1px solid #ebebeb;
                }
                label {
                    font-weight: 600;
                }
                span {
                    color: grey;
                    white-space: nowrap;
                }
                label.col-xs-2 {
                    text-align: right;
                }
                .subtotal {
                    // padding:30px 5px;
                    padding: 2% 0.3%;
                    border-bottom: 1px solid #ebebeb;
                }
                .heading {
                    padding: 1.7%;
                    border-bottom: 1px solid #ebebeb;
                }
                .description {
                    border: 1px solid #ebebeb;
                }
                .panel-heading {
                    padding: 1.4% 1.7%;
                    background: #f0f4f7;
                    position: relative;
                    .icon {
                        background: url(../images/Sprite_FinRules1.png) no-repeat -842px -77px;
                        width: 16px;
                        height: 17px;
                        transform: rotate(180deg);
                        position: absolute;
                        top: 32%;
                        left: 1%;
                    }
                    @media only screen and (max-width: 1600px) {
                        .icon {
                            background: url(../images/Sprite_FinRules1.png) no-repeat -842px -77px;
                            width: 16px;
                            height: 17px;
                            transform: rotate(0deg);
                            position: absolute;
                            top: 28%;
                            left: 0.5%;
                        }
                    }
                }
                .unexpand {
                    background: white;
                    position: relative;
                    border-bottom: 1px solid #ebebeb;
                    .icon {
                        background: url(../images/Sprite_FinRules1.png) no-repeat -842px -77px;
                        width: 16px;
                        height: 17px;
                        transform: rotate(0deg);
                        position: absolute;
                        top: 32%;
                        left: 1%;
                    }
                    @media only screen and (max-width: 1600px) {
                        .icon {
                            background: url(../images/Sprite_FinRules1.png) no-repeat -842px -77px;
                            width: 16px;
                            height: 17px;
                            transform: rotate(0deg);
                            position: absolute;
                            top: 28%;
                            left: 0.5%;
                        }
                    }
                }
                @media only screen and (max-width: 1200px) {
                    .panel-heading {
                        padding: 1.4% 3%;
                    }
                }
                .panel-description {
                    background: #fafafa;
                    padding: 1%;
                    .panel-content {
                        padding: 1%;
                        border-bottom: 1px solid #c1d4d2;
                        .row {
                            padding-bottom: 25px;
                        }
                        .row:nth-child(1) {
                            padding-bottom: 40px;
                        }
                        label {
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                    .panelfooter {
                        padding: 2% 1% 1%;
                        label {
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .additionalincome {
                padding: 25px 10px;
                th,
                h3 {
                    font-family: Roboto-bold;
                }
                h3 {
                    padding-left: 21px;
                }
                th,
                .left {
                    color: black;
                }
                .table-striped tr {
                    border-radius: 5px!important;
                }
                td {
                    color: grey;
                    font-family: Roboto-Regular;
                }
                th,
                td {
                    padding: 12px 21px;
                }
                .table tr th,
                td {
                    border-width: 0!important;
                }
                .others .table-striped tbody tr:last-child {
                    background-color: #8d8d8d;
                    td {
                        color: white;
                    }
                }
                .table-striped tbody tr:nth-of-type(odd) {
                    background-color: #f0f4f7;
                }
                td {
                    width: 33.3%;
                }
                th:not(.left),
                td:not(.left) {
                    text-align: right;
                }
            }
        }
    }
    .positionBottom{
      position: absolute;
      bottom: 0;
      padding-right: 15px;
      @media screen and (max-height:830px) {
        position: relative;
      }
    }
    .taskButton {
        margin: 0 auto;
        float: right;       
        .add {
            color: @primary-color;
            background-color: @navbar-background;
            border: 1px solid @navbar-background;
            border-radius: 2px;
            // width: 115px;
            height: 45px;
            padding: 0 10px;
            float: left;
            span {
                background: url('../images/Sprite_FinRules1.png') no-repeat -139px -149px;
                width: 11px;
                height: 11px;
                float: left;
                position: relative;
                top: 6px;
            }
            label {
                padding: 3px 5px;
            }
        }
        .start {
            color: @primary-color;
            background-color: @primary-button-color;
            border: 1px solid @primary-button-color;
            border-radius: 2px;
            width: 185px;
            height: 45px;
            padding: 6px 22px;
            float: right;
            label {
                padding: 3px 5px;
            }
            span {
                background: url('../images/Sprite_FinRules1.png') no-repeat -391px -74px;
                width: 25px;
                height: 25px;
                float: left;
            }
        }
    }
    .button-wrapper,.button-wrapper-suspended  {
        // padding: 10px 0;
        .suspended {
            background: #6A7E9C;
            padding: 11px;
            color: @primary-color;
            span {
                background: url('../images/Sprite_FinRules1.png') no-repeat -720px -83px;
                width: 12px;
                height: 7px;
                float: right;
                position: relative;
                top: 7px;
            }
            .suspensionCount {
                padding: 4px 10px;
                color: grey;
                background: @primary-color;
                border-radius: 11px;
                margin-left: 10px;
            }
        }
    }
    .toggleBtn {
        margin: 20px auto;
        text-align: center;
        width: 102px;
        .btn-toggle {
            border-radius: 40px;
            border: 1px solid @primary-border;
            .btn-active,
            .btn-inactive,
            .btn-disabled {
                float: left;
                border-radius: 40px;
            }
            .btn-disabled {
                background-color: #d3d3d354;
                color: @secondary-color;
                width: 50px;
                &:focus,
                &.focus {
                    &,
                    &.active {
                        outline: none;
                    }
                }
            }
        }
        .btn-active {
            background-color: @primary-color;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            width: 50px;
            &:focus,
            &.focus {
                &,
                &.active {
                    outline: none;
                }
            }
        }
        .btn-inactive {
            background-color: #9ea8bb;
            color: @primary-color;
            width: 50px;
            &:focus,
            &.focus {
                &,
                &.active {
                    outline: none;
                }
            }
        }
    }
}
.disabled-switch{
  background: #92929254;
  border: 1px solid #a5a5a5 !important;  
  cursor: not-allowed;
  .btn{
    cursor: not-allowed;
  }
}
.activeConditionContainer .taskButton .add{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 285px;
}




