@primary-border: #E7E7E7;
@primary-background: #F8F8F8;
@open-status-border: #FECD62;
@closed-status-border: #F48185;
@primary-button-color: #FFAB31;
@secondary-background: #47AE9D;
@primary-color: #fff;
@secondary-color: #000;
@navbar-background: #41A292;
@secondary-text :#767F85;
@selectbox-background: #D3D7DA;
@list-background: #F1F5F6;
@base-background: #8F989D;
.cancelbtn {
    background: @primary-color;
    border: 1px solid @primary-color;
    color: @secondary-color;
    width:150px;
    height:45px;
}
.conditionWrapper {
        padding: 0 15px;
        font-family: Roboto-Light;
        font-size: 14px;
        // Conditions Tab Styling Starts
		.duFindings {
				h2 {
						.h2style();
						span {
								color: @secondary-color;
					 }
			 }
				.duCards {
						margin-bottom: 20px;
						margin-right: 20px;
						display: flex;
						padding: 40px 20px;
						border-bottom: 2px solid @primary-border;
						background: #FAFAFA;
						position: relative;
						.singleduCard {
								position: relative;
								margin-right:14px;
								.cardStyle();
								width: 250px;
								border-bottom: 3px solid @open-status-border;
								h2 {
										background: @primary-background;
										padding: 25px 20px;
										color: @secondary-color;
							 }
								p {
										padding: 20px 20px 30px;
										background-color: @primary-color;
										.pstyle();
							 }
							 .cardCheck {
								position: absolute;
								cursor: pointer;
								font-size: 22px;
								right: 35px;
								top: 10px;
							 /* Hide the browser's default checkbox */
								input {
										position: absolute;
										opacity: 0;
										cursor: pointer;
									 /* When the checkbox is checked, add a blue background */
										&:checked ~ .checkmark {
												background-color: @secondary-background;
												border:2px solid @secondary-background 
									 }
									 /* Show the checkmark when checked */
										&:checked ~ .checkmark:after {
												display: block;
									 }
							 }
							 /* Create a custom checkbox */
								.checkmark {
										position: absolute;
										top: 0;
										left: 0;
										height: 25px;
										width: 25px;
										background-color: @primary-color;
										border-radius: 6px;
										border: 2px solid @primary-border;
									 /* Create the checkmark/indicator (hidden when not checked) */
										&::after {
												content: "";
												position: absolute;
												display: none;
									 }
									 /* Style the checkmark/indicator */
										&:after {
												left: 9px;
												top: 5px;
												width: 5px;
												height: 10px;
												border: solid white;
												border-width: 0 3px 3px 0;
												-webkit-transform: rotate(45deg);
												-ms-transform: rotate(45deg);
												transform: rotate(45deg);
									 }
							 }
						}
					 }
						.subDivider {
								position: absolute;
								bottom: -20px;
								left: 50%;
								width: 40px;
								height: 40px;
								border: 1px solid @primary-border;
								border-radius: 50%;
								background: @primary-color;
								span {
										position: relative;
										top: 11px;
										left: 7px;
							 }
					 }
			 }
			 .createNewCondition {
                 display: inline-block;
                 width: 100%;
                 border-bottom: 2px solid @primary-border;
				 .form-row {
                     margin-bottom: 20px;
                     display: inline-block;
                     width: 100%;
				 }
				 label {
					 font-family: Roboto-Regular;
					 margin-bottom: 5px;
					 
				 }
				 input, textarea {
					 font-family: Roboto-Regular;
				 }
				 textarea {
					 font-size: 15px;
					 padding: 10px;
					 border: 1px solid #ccc;
					 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
					 color: @secondary-text;
				 }
             }
             .buttonWrapper {
                 .next {
                     .startbtn();
                     width: 150px;
                 }
                 .cancel {
                     .cancelbtn();
                     float:right;
                 }
             }
     }
     //Condition tab styling ends

     /* Task Wrapper Styling Begins*/
     .taskWrapper {
         padding:20px 10px;
         h2 {
             padding:20px 0;
         }
        .taskList {
            padding: 10px;
            border: 1px solid #E7E7E7;
            background: #E9E9E9;
            .search {
                background: @secondary-background;
                border:1px solid @secondary-background;
                color: @primary-color;
            }
            .reset {
                background: @secondary-text;
                border:1px solid @secondary-text;
                color: @primary-color;
            }
        }
        .accordion {
            padding:20px;
            background: #F4F4F4;
            ul {
                li {
                    padding:15px;
                    background: @primary-color;
                    position: relative;
                    margin-bottom: 10px;
                    label {
                        padding:0 20px;
                    }
                    a {
                        padding: 5px;
                        color: @primary-button-color;
                        border: 1px solid @primary-button-color;
                        border-radius: 3px;
                        text-align: right;
                        position: absolute;
                        right: 12px;
                        bottom: 8px;
                    }
                    .expand {
                        background: url('../images/Sprite_FinRules-psd.png') no-repeat -842px -77px;
                        width: 16px;
                        height: 17px;
                        float: left;
                    }
                }
                li:nth-child(4) {
                    padding: 0;
                    .listContent {
                        padding:20px;
                    }
                    .verbalVerification {
                        padding: 10px;
                        background: #FAFAFA;
                        label {
                            padding:5px 20px;
                            span {
                                font-weight: bold;
                                display: inline-block;
                                width: 130px;
                                &:after {
                                    content: ':';
                                    float: right;
                                    padding-right: 20px;
                                }
                            }
                        }
                      .verbalList {
                          display: inline-block;
                          padding:20px;
                        ul {
                            width: 40%;
                            float: left;
                            padding:0 20px;
                            li {
                                padding: 0;
                                background: #FAFAFA;
                                line-height: 18px;
                                &:before {
                                    content: '\25CF';
                                    font-size: 15px;
                                    color: @navbar-background;
                                    padding-right: 20px;
                                }
                            }
                        }
                        ul:first-child {
                            border-right: 1px solid @primary-border;
                        }
                      }
                    }
                }
                
            }
        }
     }

}

h2{
  color: @secondary-background;
  font-family: Roboto-Regular;
    padding-left: 15px;
}
/**Styling for Tabs**/
 ul.tabs{
     border-bottom: 1px solid #E7F2F0;
     background: #f9f9f9;
     display: inline-block;
     width: 100%;
     li.tab-link{
         background: #f9f9f9;
         padding: 10px 20px;
         cursor: pointer;
         width: 25%;
         position: relative;
         color: #C0C0C0;
         i+label{
             padding: 8px;
             &:nth-child(even){
                 font-family: Roboto-light;
            }
             &:nth-child(odd){
                 font-family: Roboto-Bold;
            }
        }
         i.fa.fa-angle-right {
             font-size: 45px;
             color: #A8A8A8;
        }
         .step{
             font-family: Roboto-light;
        }
         .stepTitle{
             font-family: Roboto-Bold;
        }
         &.current{
             background: #fff;
             color: #000;
             &:after{
                 border-left: 34px solid white;
            }
        }
         &:first-child {
             padding: 26px 0;
        }
         &:after {
             content: '';
             position: absolute;
             right: -30px;
             top: 1px;
             width: 0;
             height: 0;
             border-top: 34px solid transparent;
             border-bottom: 34px solid transparent;
             z-index: 9;
             border-left: 34px solid #f9f9f9;
        }
    }
}
 .tab-content{
     display: none;
     background: #fff;
     padding: 15px;
}
 .tab-content.current{
     display: inherit;
}
.chevronStatus{
    border-left: 1px solid grey;
    padding-left: 10px;
    margin-left: 10px;
}