.contentArea {
    .selectField {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid @primary-border;
        background: @primary-background;
        border-bottom: 1px solid @primary-border;
        label {
            padding-top: 9px;
        }
        select {
            border: 1px solid @secondary-background;
            font-size: 13px;
        }
    }
    .adminCategory {
        padding: 0 15px;
        .row {
            padding: 15px 0;
            &:nth-child(even) {
                background-color: @tables-background;
            }
        }
    }
    .contentWrapper {
        .paddingSpace {
            padding: 0 15px;
        }
        h4 {
            font-size: 14px;
            color: @secondary-background;
            font-weight: 600;
            margin: 15px 0;
            .infoIcon {
                background: url('../images/Sprite_FinRules-psd.png') no-repeat -450px -146px;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                padding-bottom: 20px;
            }
        }
        .contentDes {
            h4 {
                margin-left: 15px;
            }
        }
        .subcontentWrapper {
            .contentHeading {
              border-top: 1px solid @secondary-background;
            }
            .adminContent {
                padding: 0 15px;
                border-bottom: 1px solid @secondary-background;
                .row {
                    padding: 15px 0;
                    .tickIcon {
                        background: url('../images/Sprite_FinRules-psd.png') no-repeat -726px -148px;
                        width: 14px;
                        height: 11px;
                        vertical-align: middle;
                    }
                    .closeIcon {
                        background: url('../images/Sprite_FinRules-psd.png') no-repeat -725px -204px;
                        width: 25px;
                        height: 25px;
                        vertical-align: middle;
                    }
                   
                    .checkboxx {
                        padding: 0 15px;
                        .checkmark {
                            left: 50%;
                        }
                    }
                    .input-group {
                        float: left;
                        padding-right: 15px;
                        .form-control {
                            height: auto;
                            padding: 3px 4px;
                            color: @secondary-color;
                            border-radius: 0;
                            text-align: right;
                        }
                        .input-group-addon {
                            padding: 3px 4px;
                            color: @secondary-color;
                            border-radius: 0;
                        }
                    }
                    &:nth-child(odd) {
                        background-color: @tables-background;
                    }
                    .verticallyCenter{
                      padding-top: 7px;
                      padding-right: 15px;
                    }
                }
            }
            .text{
              padding-top: 7px;
            }
            p{
              margin: 15px 15px 30px;
              .roundedplusIcon{
                background: url('../images/Sprite_FinRules-psd.png') no-repeat -397px -247px;
                width: 27px;
                height: 27px;
                vertical-align: middle;
              }
            }
        }
        .btn-save{
          background-color: @secondary-background;
          color: @primary-color;
          padding: 6px 30px;
        }
        .marginbottom15{
          margin-bottom: 15px;
        }
    }
}