.minHeight{
  min-height: calc(100vh - 237px);
  }
.businessrulestatus{  
  .heading{
    h3{
        color:@secondary-background;
        font-size:18px;
        padding:20px 0;
        font-family:Roboto-Medium;
    }
  }
  .taskdetails{
    margin-bottom:40px;
    h4{
      text-transform:uppercase;
      color:@secondary-background;
      font-size:15px;
      padding:20px 0;
      font-family:Roboto-Medium;
    }
    .taskdetails-description{
      background-color:@tertiary-background;
      padding:20px;
      .verification-stat{
        width:24%;
      }
      .row1{
        margin-bottom:15px;
      }
      .topic{
        color:@secondary-text;
        font-size:13px;
        white-space: nowrap;
        }
      .content{
        color:@primary-text;
        font-size:13px; 
        white-space: nowrap;       
        &:before{
          content:':';
          font-family:Roboto-Medium;
          float:left;
          margin-right:10px;
          color:@primary-text;
        }
      }
    }
  }
  .task-wrap{
    border-bottom:1px solid @tables-background;
    margin-bottom:20px;
    .row{
      padding:20px 15px;
      margin:0;
      &:nth-child(even){        
          background-color: @tables-background;
      }
    }
    .content{
      font-size:13px;
      color:@primary-text;
    }
    .failure-row{
      padding:15px;
    }
    .text-right{
      text-align:right;
    }
    .vertical{
      padding-top:5px;
    }    
  .topic{
    color:@secondary-background;
    font-size:15px;
    font-family:Roboto-Medium;
  }
  
  .success-icon{
    background: url('../images/Sprite_FinRules1.png') no-repeat -341px -76px;
    width: 23px;
    height: 23px;
}
.failure-icon{
  background: url('../images/Sprite_FinRules1.png') no-repeat -288px -73px;
  width: 27px;
  height: 23px;    
  position: absolute;
  right: 23px;
  top:0;
}
.verify-btn{
  color:#ffaa31;
  border:1px solid #ffaa31;
  padding:2px 20px;
  // margin-right:100px;
  font-size:13px;
  background:white;
  outline:none;
  &:hover{
    background:#ffaa31;
    color: @primary-background;
    border:1px solid #ffaa31;
  }
}
.confirm-btn{
  color:@secondary-background;
  border:1px solid @secondary-background;
  font-size:13px;
  background:white;
  outline:none;    
  margin: 0 20px;
  &:hover{
    background:@secondary-background;
    color: @primary-background;
    border:1px solid @secondary-background;
  }
}
.statuz-wrap{
  position:relative;
}
.statuz
{
  position: absolute;
  right: 25px;
  top: -4px;
}
.modal-content{
    width: 350px;
    margin: auto;
}
.modal-header{
  padding:13px;
  border-bottom:none;
}
.modal-title{
  text-align:center;
  font-size:15px;
  color:@secondary-background;
}
.modal-body{
  padding:12px;
  text-align:center;
}
.modal-footer{
  text-align:center;
  padding:11px;
  border-top:none;
}
  }
  .income-calculator{
    margin-bottom:20px;
    h4{
      padding:20px 30px;
    }
    .row{
      padding:20px 15px;
      margin:0;
      &:nth-child(even){        
        background-color: @tables-background;
    }
    }      
  .topic{
    color:@secondary-background;
    font-size:15px;
    font-family:Roboto-Medium;
  }
    .content{
      color:@secondary-text;
      font-size:13px;
    }
  }
  .edit-wrap{
    padding:10px 0;
    margin-bottom:20px;
    text-align:right;
    .btn-primary{
      background: @secondary-background;
      border: 1px solid @secondary-background;
      padding:8px 25px;
      &:hover{
        background:@primary-background;
        color: @secondary-background;
        border:1px solid @secondary-background;
      }
    }
  }
}
