.col {
    padding: 0 15px;
    float: left;
}

.padding0 {
    padding: 0;
}

.paddingRight {
    padding-right: 0;
}

.paddingLeft {
    padding-left: 0;
}

.loanDetails {
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid @primary-border;
    background: @primary-background;
    z-index: 3;
    position: relative;
    h3 {
        padding: 19px 0;
        white-space: nowrap;
        font-size: 17px;
    }
    .loanInformation {
        padding: 12px 0;
        label {
            display: block;
            font-size: 13px;
            color: grey;
        }
        span {
            font-size: 15px;
            padding-top: 5px;
            display: inline-block;
            color: black;
        }
    }
    .loanAvg {
        color: #80898F;
        background-color: #DBDFE0;
        font-size: 16px;
        padding-top: 22px;
    }
}


.nameToggler {
    margin: 25px auto;
    li {
        float: left;
        a {
            padding: 10px;
            text-align: center;
            border: 1px solid @primary-border;
            border-radius: 2px;
            width: 100px;
            display: block;
            color: @secondary-color;
            font-size: 12px;
            &:active,
            &:focus {
                background: @link-background;
                color: @primary-color;
                border-color: @link-background;
            }
        }
    }
    .active {
        a {
            background: @link-background;
            color: @primary-color;
            border-color: @link-background;
        }
    }
}

.tabWidth1 {
    width: 200px;
}

.tabWidth2 {
    width: 300px;
}