.status {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    label {
    color:black;
    height: 23px;
    width: 23px;
    font-size: 1.7em;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size:1.7em;
    }
}

.h2style {
    font-family: Roboto-Regular;
    font-weight:bold;
    font-size:18px;
    color: @secondary-background;
    padding: 30px 0;
}

.cardStyle {
    border: 1px solid @primary-border;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    margin-right: 2%;
    float: left;
    padding: 0;
    width: 18.4%;
    &:last-child {
        margin-right: 0;
    }
}

.pstyle {
    font-family: Roboto-Regular;
    font-size: 12px;
}

.conditionContainer {
  box-sizing: border-box;
    padding: 0 15px;   
    .mainContent {
        background-color: #F4F4F4;
        .cardView {
            display: inline-block;
            padding: 0 15px;;
            margin-bottom: 5em;
            width:100%;
            h2 {
                .h2style();
                padding: 20px 0;
            }
            .cards {
                .individualCard {
                    position: relative;    
                    transition: all 500ms ease;
                    transform: scale(1);
                    &:hover {
                        transition: all 500ms ease;
                        transform: scale(1.07);
                        border: 2px solid @secondary-background;
                        .configuration {
                            display: block;
                            cursor:pointer;
                        }
                    }

                    .cardStyle();
                    border-bottom: 2px solid @secondary-background;
                    .cardHeader {
                        background: @primary-background;
                        padding: 25px 20px;
                        .leftIcon:first-child {
                            background: url('../images/Sprite_FinRules2.png') no-repeat -27px -69px;
                            width: 36px;
                            height: 30px;
                            display: inline-block;
                        }
                        .loanStatus {
                            display: inline-block;
                            padding-left: 15px;
                            h3 {
                              font-family: Roboto-regular;
                              font-size: 18px;
                              font-weight: bold;
                              color:black;
                            }
                            label {
                                color: @closed-status-border;
                                font-size: 13px;
                                margin-top: 4px;
                            }
                        }
                        .rightIcon {
                          background: url('../images/Sprite_FinRules2.png') no-repeat -288px -73px;
                          width: 27px;
                          height: 23px;
                          float: right;
                          position: absolute;
                          top: 30px;
                          right: 22px;
                        }
                        
                @media only screen and (max-width: 1203px){
                  .rightIcon{
                    background: url('../images/Sprite_FinRules2.png') no-repeat -552px -205px;
                    width: 20px;
                    height: 18px;
                    position: absolute;
                    top: 41px;
                    right: 17px;
                  }
                  }
                    }
                    .cardData {
                        padding: 12%;
                        background-color: @primary-color;                        
                        box-sizing:border-box;
                        p{
                          font-size: 13px;
                          color: #656464;
                        }
                        .conditionstatus-wrap{
                          background:#f8f8f8;                          
                          padding:6%;  
                          box-sizing:border-box;
                          .conditionstatus-content{                      
                        .left-content{
                          font-size:1em;
                          color:#818181;
                          display:inline-block;
                          width: 50%;
                        }
                        .right-content{
                          text-align: right;
                          font-size:37px;
                          font-weight:bold;                          
                          color:#4b4e60;                                                    
                          border-left:1px solid #818181;
                          display:inline-block;
                          width: 45%;
                          box-sizing:border-box;
                        }
                        }
                      }
                        .statusCount {
                            padding: 20px 0 15px;
                            text-align: center;
                            @media screen and (max-width: 1150px) and (min-width:1024px) {
                                padding: 20px 0;
                                transform: scale(0.8, 0.8);
                            }
                            .openStatus {
                                border: 1px solid @open-status-border;
                                .status();
                            }
                            .closeStatus {
                                border: 1px solid @closed-status-border;
                                .status();
                            }
                            @media only screen and (max-width: 1203px){
                              .closeStatus,.openStatus{
                                width:45px;
                                height:45px;
                              }

                            }
                              .openstatuswrap{
                                margin-right: 30px;
                              }
                            .statusContainer {
                                display: inline-block;
                                position: relative;                             
                                span {
                                    display: block;
                                    font-size: 12px;
                                    color: grey;
                                }
                                // @media screen and (max-width:1150px) and (min-width:1024px) {
                                //     margin-right: 17px;
                                // }
                            }
                        }
                    }
                    .configuration {
                        padding: 10px;
                        background-color: @secondary-background;
                        border: 2px solid @secondary-background;
                        width: calc(100% + 4px);
                        position: absolute;
                        left: -2px;
                        display: none;
                            span {
                                font-size: 24px;
                                color: #ffffff;
                            }
                    }
                }
                .individualCard:nth-child(2) {
                    .leftIcon {
                        background: url('../images/Sprite_FinRules2.png') no-repeat -77px -69px!important;
                    }
                }
                .individualCard:nth-child(3) {
                    .leftIcon {
                        background: url('../images/Sprite_FinRules2.png') no-repeat -133px -69px!important;
                    }
                }
                .individualCard:nth-child(4) {
                    .loanStatus {
                        label {
                            color: @secondary-background;
                        }
                    }
                    .leftIcon {
                        background: url('../images/Sprite_FinRules2.png') no-repeat -188px -68px!important;
                    }
                    .rightIcon {
                      background: url('../images/Sprite_FinRules2.png') no-repeat -341px -76px;
                    }
                    @media only screen and (max-width: 1203px){
                      .rightIcon{
                        background: url('../images/Sprite_FinRules2.png') no-repeat -600px -207px;
                      }
                    }
                }
                .individualCard:nth-child(5) {
                    .loanStatus {
                        label {
                            color: @secondary-background;
                        }
                    }
                    .leftIcon {
                        background: url('../images/Sprite_FinRules2.png') no-repeat -234px -70px!important;
                    }
                    .rightIcon {
                      background: url('../images/Sprite_FinRules2.png') no-repeat -341px -76px;
                    }
                    @media only screen and (max-width: 1203px){
                      .rightIcon{
                        background: url('../images/Sprite_FinRules2.png') no-repeat -600px -207px;
                      }
                    }
                    
                }
            }/*cards*/
        }/*cardview*/
        .startExecution {
            margin-bottom: 20px;
            text-align: center;
            button {
                color: @primary-color;
                background-color: @primary-button-color;
                border: 1px solid @primary-button-color;
                border-radius: 2px;
                width: 185px;
                height: 45px;
                padding: 6px 22px;
                label {
                    padding: 3px 5px;
                }
                span {
                    background: url('../images/Sprite_FinRules2.png') no-repeat -391px -74px;
                    width: 25px;
                    height: 25px;
                    float: left;
                }
            }
        }
        .lineBreak {
            background: @primary-border;
            height: 2px;
            margin: 0px 15px;
        }
        .duFindings {
            padding: 0 15px;
            .align{
              display: flex;
            }
            h2 {
                .h2style();
                span {
                    color: @secondary-color;
                }
            }
            .duCards {
                margin-bottom: 20px;
                float: left;
                margin-right: 20px;
                .singleduCard {
                    .cardStyle();
                    width: 250px;
                    margin: 0;
                    border-bottom: 3px solid @open-status-border;
                    height: 100%;
                    h2 {
                        background: @primary-background;
                        padding: 25px 20px;
                        color: @secondary-color;
                    }
                    p {
                        padding: 20px;
                        background-color: @primary-color;
                        font-family: Roboto-Regular;
                        text-align: justify;
                        font-size: 13px;
                        color:grey;
                        line-height: 17px;
                        height: calc(100% - 68px);
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1367px){
      .cards {
        padding:0 10%;
      }
    }
    
}
