.conditionWrapper{
  header {
    padding: 15px 0 8px;
    background-color: #ffff;
    z-index: 3;
    position: relative;
    span {
      display: inline-block;
    }
    .icon {
        border-right: 1px solid #A3A3A3;
        .logoIcon {
            background: url('../images/Sprite_FinRules2.png') no-repeat -26px -20px;
            width: 24px;
            height: 24px;
        }
    }
    .logoName {
        background: url('../images/Sprite_FinRules2.png') no-repeat -71px -22px;
        width: 129px;
        height: 21px;
    }
    .userIcon {
        background: url('../images/Sprite_FinRules2.png') no-repeat -222px -14px;
        width: 36px;
        height: 36px;
        vertical-align: middle;
    }
    label {
        margin-top: 5px;
        font-size: 13px;
        color: grey;
    }
    i {
        padding-left: 15px;
        color: grey;
        font-size: 18px;
    }
    h3 {
        color: @secondary-background;
        font-size: 16px;
        font-weight: 600;
    }
}
  }
header{
  padding:0;
  font-family:Roboto-Medium;
  background-color: #ffff;
  z-index: 3;
  position: relative;
  .navbar-header{
    padding:20px 0 10px;
  }
  .dashboardhead-right{
    font-family:Roboto-Regular;
    padding:10px;
  }
  .username-wrap{
    padding:5px 15px;
    text-align:right;
  }
  .usericon-wrap{
    vertical-align:middle;    
    padding: 4px 10px 0 0;
  }
  .user{
    font-size:16px;
    color:@secondary-background;
  }
  .profession{
    color:@header-text;
    display:block;
    font-size:13px;
    letter-spacing:-0.5px;    
    padding: 3px;
  }
  a{
    color:@secondary-background; 
    background-color:@primary-color!important;           
    &:focus, &:active, &:hover{
      color:@secondary-color;
      outline:none;
    }
  }
  .navbar{
    margin: 0px;
    padding: 0;
    border: 0;
  }
 
  .navbar-brand{
    padding: 1px 25px 1px 15px;
    height:auto;
    border-right:1px solid @header-border;
  }
  .navbar-nav{
    li{
      a{
        padding:0;
      }
    }
  }
  .logo-wrap{   
  .logo{
    background: url('../images/Sprite_FinRules2.png') no-repeat -71px -22px;
    width: 129px;
    height: 21px;      
  }
  }
  .headerlinks{
    //padding-top:10px;
    li.active{
      border-bottom:8px solid @secondary-background;
      a{
        color:@secondary-color;
      }
    }
    li{
      //padding:10px 0;
      margin:0 20px;
    a{
      padding:25px 15px 15px;
      font-size:14px;
      font-family:Roboto-Medium;
    }
  }
  }
  .user-icon{
    background: url('../images/Sprite_FinRules2.png') no-repeat -222px -14px;
    width: 36px;
    height: 36px;
  }
  .dropdown-icon{
    background: url('../images/Sprite_FinRules2.png') no-repeat -547px -151px;
    width: 12px;
    height: 6px;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: @primary-text;
  }
}