.verification,
    {
    display: flex;
}

span {
    display: inline-block;
}

.lpFindings {
    position: relative;
    padding-left: 400px;
    padding-top: 25px;
    min-height: calc(~"100vh - 218px");
    .panelContainer {
        width: 370px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        .lpEligibility {
            margin: 0;
        }
        .marginBottom {
            margin-bottom: 60px;
        }
        .panel-body {
            padding-bottom: 0;
            .contentWrapper {
                .verificationWrapper {
                    margin: 0;
                    padding: 10px;
                    .icon {
                        background: url('../images/Sprite_FinRules1.png') no-repeat -385px -276px;
                        width: 37px;
                        height: 33px;
                        vertical-align: middle;
                        margin-right: 15px;
                    }
                    .verified {
                        display: inline;
                        &:nth-of-type(2) {
                            font-size: 20px;
                            font-family: Roboto-Bold;
                            padding-top: 10px;
                        }
                        &:nth-of-type(3) {
                            font-size: 18px;
                        }
                    }
                    .successIcon {
                        background: url('../images/Sprite_FinRules1.png') no-repeat -388px -321px;
                        width: 39px;
                        height: 39px;
                        margin-left: 10px;
                        vertical-align: middle;
                    }
                }
                .content {
                    border: none;
                    line-height: 18px;
                    button {
                        display: block;
                        margin: 20px auto 0;
                    }
                }
            }
        }
        .eligibleConditionWrapper {
            font-family: Roboto-Medium;
            position: absolute;
            width: 100%;
            z-index: 10;
            transition: top 1s ease-in;
            top: calc(100% - 56px);
            .lpEligibility {
                margin-bottom: 60px;
            }
            .downIcon {
                background: url('../images/Sprite_FinRules.png') no-repeat -682px -204px;
                width: 18px;
                height: 18px;
                vertical-align: middle;
                margin-right: 10px;
                cursor: pointer;
                &+span {
                    cursor: pointer;
                }
            }
            .content {
                border-top: 1px solid @table-color;
                line-height: 24px;
                padding: 15px 30px;
            }
            .matchedCriteria {
                position: relative;
                padding-left: 25px;
                line-height: 20px;
                font-family: Roboto-Regular;
            }
            .verifiedIcon {
                background: url('../images/Sprite_FinRules.png') no-repeat -726px -148px;
                width: 14px;
                height: 11px;
                position: absolute;
                left: 0;
                top: 7px;
            }
        }
        .panelWrapper {
            padding: 0;
            opacity: 1;
            transition: opacity 1s ease-in;
            height: 100%;
        }
    }
    .lpHeading {
        background-color: @table-color;
        padding: 20px;
        font-family: Roboto-Medium;
    }
    .navigation {
        border-bottom: 1px solid @primary-border;
    }
    .navigationContent {
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

.panelContainer {
    width: 50%;
    float: left;
    margin: 25px 15px 25px 15px; // padding-bottom: 60px;
    border: 1px solid @primary-border;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    border-radius: 3px;
    .panel {
        border: none;
        box-shadow: none;
    }
    .panel-heading {
        background-color: @table-color;
        padding: 15px;
        .sideHeading,
        .panelTitle {
            font-family: Roboto-Medium;
            font-size: 16px;
        }
        .sideHeading {
            padding-right: 15px;
            border-right: 1px solid #00000059;
            margin-top: 10px;
        }
        .findingLen {
            padding-left: 15px;
            padding-top: 2px;
        }
        .btn-report {
            border: 1px solid @secondary-background;
            color: @secondary-background;
            background-color: @table-color;
            font-family: Roboto-Medium;
        }
    }
    .panel-body {
        .contentWrapper {
            .verified {
                // width: 100%;
                // text-align: center;
                font-family: Roboto-Regular;
                color: @secondary-background;
                margin-left: 15px;
                .viewIcon{
                  background: url('../images/Sprite_FinRules4.png') no-repeat -627px -394px;
                  width: 9px;
                  height: 12px;
                  margin-right: 10px;
                }
            }
            .vertiallyCenter{
              margin-top: 10px;
              label{
              font-family: Roboto-Medium;

              }
            }
            .headingEligible {
                font-size: 24px;
                font-family: Roboto-Bold;
                
            }
            .subHeadingqualified {
                font-size: 18px;
                // padding-top: 5px;
                // padding-bottom: 10px;
            }
            .icon {
                background: url('../images/Sprite_FinRules4.png') no-repeat -388px -321px;
                width: 39px;
                height: 39px;
                vertical-align: middle;
            } // .successIcon {
            //     background: url('../images/Sprite_FinRules.png') no-repeat -285px -299px;
            //     width: 61px;
            //     height: 61px;
            //     margin: auto;
            // }
            .verificationWrapper {
              margin: 0 10px;
              padding-bottom: 10px;
              border-bottom: 1px solid #f1f1f1;
                // margin-top: 25%;
                // @media screen and (min-width: 1024px) and (max-width:1200px) {
                //     margin-top:70%;
                // }
                // @media screen and (min-width:1800px) {
                //     margin-top: 25%;
                // }
            }
            .content {
                font-family: Roboto-Medium;
                padding: 0 20px 20px 20px;
                border-left: 1px solid @primary-border;
                p {
                    line-height: 22px;
                }
                .matchedCriteria {
                    position: relative;
                    padding: 10px 15px 15px 25px;
                    line-height: 20px;
                    font-family: Roboto-Regular;
                    .verifiedIcon {
                        background: url('../images/Sprite_FinRules.png') no-repeat -726px -148px;
                        width: 14px;
                        height: 11px;
                        position: absolute;
                        left: 0;
                        top: 15px;
                    }
                }
                .proceed {
                    background: @primary-button-color;
                    border: 1px solid @primary-button-color;
                    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
                    margin-top: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.lpEligibility {
    .panel-body {
        .contentWrapper {
            .content {
                .matchedCriteria {
                    padding: 5px 10px 5px 25px;
                    line-height: 20px;
                    .verifiedIcon {
                        top: 8px;
                    }
                }
            }
        }
    }
}

// .navigationWrapper {
.list-inline {
    .active {
        border-bottom: 2px solid @secondary-background;
        a {
            color: @secondary-color;
        }
    }
    a {
        padding: 10px 10px 15px 10px;
        display: inline-block;
        color: #626669;
        font-family: Roboto-Medium;
        &:hover {
            color: #989393;
        }
    }
}

.reasonForNotEligible {
    display: none;
}

.navigationContent {
    padding: 20px 20px 20px 40px;
    border: 1px solid @primary-border;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    position: relative;
    margin-bottom: 10px;
    .iconWrapper {
        position: absolute;
        background-color: @table-color;
        padding: 15px;
        width: 35px;
        height: 42px;
        top: 35px;
        left: 12px;
    }
    .collapseIcon {
        background: url('../images/Sprite_FinRules.png') no-repeat -842px -77px;
        width: 16px;
        height: 17px;
        display: inline-block;
        position: absolute;
        z-index: 10;
        top: 12px;
        left: 10px;
    }
    .row {
        margin: 15px 0;
    }
    .heading {
        width: 100%;
        background: @table-color;
        padding: 15px;
        font-family: Roboto-Medium;
    }
    .taskContent {
        border: 1px solid @primary-border;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
        padding: 15px;
        p {
            margin-bottom: 15px;
            font-family: Roboto-Regular;
            color: #656464;
            line-height: 20px;
            min-height: 50px;
            .collapse.in+a:after {
                content: "Less";
            }
            .collapse+a:after {
                content: "More";
            }
            @media screen and (max-width:1200px) {
                min-height: 75px;
            }
            a {
                color: #6485C1;
            }
            label {
                display: none;
            }
            .displayMore {
                display: inline;
            }
        }
        .in {
            display: inline;
        }
        .contentFooter {
            border-top: 1px solid @primary-border;
            padding-top: 10px;
        }
        .name {
            margin-right: 20px;
            font-family: Roboto-Medium;
            color: @secondary-text;
            cursor: pointer;
        }
        .complexityIcon {
            background: url('../images/Sprite_FinRules.png') no-repeat -592px -146px;
            width: 22px;
            height: 16px;
            vertical-align: middle;
            margin-right: 10px;
            cursor: pointer;
            @media screen and (max-width: 1200px) and (min-width:1024px) {
                margin-right: 5px;
            }
        }
        .viewTaskIcon {
            background: url('../images/Sprite_FinRules.png') no-repeat -639px -148px;
            width: 22px;
            height: 16px;
            vertical-align: middle;
            margin-right: 10px;
            cursor: pointer;
            @media screen and (max-width: 1200px) and (min-width:1024px) {
                margin-right: 5px;
            }
        }
        .downloadIcon {
            background: url('../images/Sprite_FinRules.png') no-repeat -682px -144px;
            width: 16px;
            height: 19px;
            vertical-align: middle;
            margin-right: 10px;
            cursor: pointer;
            @media screen and (max-width: 1200px) and (min-width:1024px) {
                margin-right: 5px;
            }
        }
    }
}

// }
.none {
    display: none;
}