<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>::FinRules::</title>
  <link rel="stylesheet/less" type="text/css" href="../../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>
</head>

<body>
  <!-- Header section -->
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo-wrap" href="javascript:void(0)"><span class="logo"></span></a>
        </div>
        <ul class="nav navbar-nav nav-pills headerlinks">
          <li><a href="admin.html">DASHBOARD</a></li>
          <li class="active"><a href="pipeline.html">PIPELINE</a></li>
          <li><a href="adminConfig.html">ADMIN CONFIG</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right dashboardhead-right">
          <li class="username-wrap">
            <span class="user">John Smith</span>
            <span class="profession">Underwriter</span>
          </li>
          <li>
            <a href="javascript:void(0)">
                <span class="usericon-wrap"><span class="user-icon"></span></span>
                <span class="dropdown-icon"></span>
                </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="conditionWrapper">
    <ol class="breadcrumb customBreadcrums row">
      <li><a href="pipeline.html">Pipeline</a></li>
      <li><a href="loanSummary.html">Loan Summary</a></li>
      <li><a href="conditiontype.html">Condition Category</a></li>
      <li><a href="activecondition.html">Income</a></li>
      <li><a class="active" href="javascript:void(0)">Business Rule</a></li>
    </ol>
    <!-- loan details header -->
    <div class="loanDetails row">
      <h3 class="col-md-2 col-xs-2">LOAN # W2018030139</h3>
      <ul class="loanInformation col-md-7 col-xs-7">
        <li class="col-md-3 col-xs-3">
          <label>Borrower</label>
          <span>Firstimer, Alice</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Loan Status</label>
          <span>In Underwriting</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Purchase Price</label>
          <span>$ 250,000.00</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Total Loan Amount</label>
          <span>$ 217,150.00</span>
        </li>
      </ul>
      <div class="backButton pull-right">
        <a href="pipeline.html"><button class="btn btn-back">Back to Pipeline</button></a>
      </div>
    </div>
    <!-- select condition type -->
    <div class="row loanMenu">
      <div class="hamMenu clearfix">
        <div class="col hamIcon paddingLeft">
          <a href="javascript:void(0)" class="hamperIcon" onclick="showsideMenu()"></a>
        </div>
        <a href="conditiontype.html" class="col leftArrow padding0"></a>
        <h3 class="col summaryLabel">Condition Type: Income</h3>
      </div>
      <nav id="sideMenu">
        <ul>
          <li><a href="javascript:void(0)" onclick="hideSideMenu()"><span class="closeSideMenu"></span></a></li>
          <li><a class="mainMenu activeMenu" href="loanSummary.html" id="loansummary">LOAN SUMMARY</a></li>
          <li><a class="mainMenu" href="recommendation.html" id="aus">AUS FINDING</a></li>
          <li><a class="mainMenu" href="conditiontype.html" id="cond">CONDITION MANAGEMENT</a></li>
          <li><a class="mainMenu" href="javascript:void(0)" id="data">LOAN DATA</a></li>
        </ul>
      </nav>
    </div>
    <div id="duFindingsWrapper" class="row">
    </div>
    <section class="businessrulestatus minHeight">
      <div class="fluid-container">
        <section class="heading">
          <h3>BUSINESS RULES</h3>
        </section>
        <section class="taskdetails">
          <h4>Task Details</h4>
          <div class="taskdetails-description">
            <div class="row row1">
              <div class="col-xs-5">
                <div class="row">
                  <span class="topic col-xs-3">Task Name</span>
                  <span class="content col-xs-9">Upload most recent paystub</span>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="row">
                  <span class="topic col-xs-5">Assigned to</span>
                  <span class="content col-xs-7">Loan Officer</span>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="row">
                  <span class="topic col-xs-6">Condition Type</span>
                  <span class="content col-xs-6">Income</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <div class="row">
                  <span class="topic col-xs-3">Task Description</span>
                  <span class="content col-xs-9">Document supporting Stable Income Source</span>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="row">
                  <span class="topic col-xs-3 verification-stat">Verification Type</span>
                  <span class="content col-xs-9">Automated</span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="task-wrap">
          <div class="row">
            <div class="col-xs-4"><span class="topic">Fields</span></div>
            <div class="col-xs-3"><span class="topic">Document</span></div>
            <div class="col-xs-3"><span class="topic">1003</span></div>
            <div class="col-xs-2 text-right"><span class="topic">Status</span></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><span class="content">Paystub Date</span></div>
            <div class="col-xs-3"><span class="content">02/01/2018</span></div>
            <div class="col-xs-3"></div>
            <div class="col-xs-2 statuz-wrap"><span class="success-icon statuz"></span></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><span class="content">Employee Name ( Last, First )</span></div>
            <div class="col-xs-3"><span class="content">Firstimer, Alice</span></div>
            <div class="col-xs-3"></div>
            <div class="col-xs-2 statuz-wrap"><span class="success-icon statuz"></span></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><span class="content">Social Security Number</span></div>
            <div class="col-xs-3"><span class="content">xxxx-xxx-123</span></div>
            <div class="col-xs-3"><span class="content">xxxx-xxx-123</span></div>
            <div class="col-xs-2 statuz-wrap"><span class="success-icon statuz"></span></div>
          </div>
          <div class="row failure-row">
            <div class="vertical col-xs-4"><span class="content">Employer Name</span></div>
            <div class="vertical col-xs-3"><span class="content">Google. Inc.</span></div>
            <div class="vertical col-xs-2"><span class="content">Google. Inc.</span></div>
            <div class="col-xs-3 statuz-wrap"><button type="button" class="btn btn-default content verify-btn" data-toggle="modal" data-target="#myModal">Verify Manually</button>
              <span class="failure-icon"></span>
            </div>
            <!-- Modals -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                  </div>
                  <div class="modal-body">
                    <p>Do You Want To Verify Manually?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default confirm-btn" data-dismiss="modal">Verify</button>
                    <button type="button" class="btn btn-default confirm-btn" data-dismiss="modal">Cancel</button>
                  </div>
                </div>

              </div>
            </div>
            <!-- modals -->
          </div>
        </section>
        <section class="income-calculator">
          <h4 class="topic">Income Calculator</h4>
          <div class="row">
            <div class="col-xs-4"><span class="content">YTD [Frequency - once a month]</span></div>
            <div class="col-xs-3"><span class="content">$ 7610.00 ( 3,805.00 per month )</span></div>
            <div class="col-xs-3"><span class="content">$ 3,805.00 per month</span></div>
            <div class="col-xs-2"></div>
          </div>
        </section>
        <section class="edit-wrap">
          <a href="businessRuleEdit.html"><button type="button" class="btn btn-primary">Edit Business Rule</button></a>
        </section>

      </div>
    </section>
  </div>
  <div class="footer">
    <span class="footerContent">Copyright &#169; 2018 - Finrules. All rights reserved.</span>
    <span class="right-content">
          <label>Powered By:</label>
          <span class="logo"></span>
    </span>
  </div>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/sideMenu.js"></script>
  <script src="../assets/js/activeCondition.js"></script>
</body>

</html>