<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet/less" type="text/css" href="../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>

</head>

<body>
  <div class="activeConditionContainer">
    <!-- Header section -->
    <header>
      <div class="headerLogo row">
        <ul class="col-md-6 col-xs-6 padding0">
          <li class="col icon">
            <span class="logoIcon"></span>
          </li>
          <li class="col">
            <span class="logoName"></span>
          </li>
        </ul>
        <ul class="col-md-3 col-xs-3 padding0 pull-right">
          <div class="pull-right">
            <li class="col text-right padding0">
              <h3>John Smith</h3>
              <label>Underwriter</label>
            </li>
            <li class="col">
              <span class="userIcon"></span>
              <i class="fa fa-caret-down"></i>
            </li>
          </div>
        </ul>
      </div>
      <!-- loan details header -->
      <div class="loanDetails row">
        <h3 class="col-md-2 col-xs-2">LOAN # W2018030139</h3>
        <ul class="loanInformation col-md-7 col-xs-7">
          <li class="col-md-3 col-xs-3">
            <label>Borrower</label>
            <span>Firstimer, Alice</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Loan Status</label>
            <span>In Underwriting</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Purchase Price</label>
            <span>$ 250,000.00</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Total Loan Amount</label>
            <span>$ 217,150.00</span>
          </li>
        </ul>
      </div>
      <!-- select condition type -->
      <div class="row loanMenu">
        <div class="hamMenu">
          <div class="col hamIcon paddingLeft">
            <i class="fa fa-bars"></i>
          </div>
          <a href="conditiontype.html" class="leftArrow"></a>
          <label>Condition Type: Income</label>
        </div>
      </div>
    </header>
    <!-- main content -->
    <div class="content row">
      <!-- Add conditions -->
      <div class="activeCondition clearfix">
        <div class="col-md-2 col-xs-2 padding0">
          <a href="addConditionflow.html" class="col-xs-10 addConditionSection ">
          <span class="add"></span>
          <label>Add Conditions</label>
        </a>
          <div class="col-xs-2 search">
            <span></span>
          </div>
        </div>
        <div class="col-md-10 col-xs-10 paddingRight">
          <ul class="optionMenu clearfix">
            <ul class="leftTabs">
              <li>
                <h3>Base Income</h3>
              </li>
              <li>
                <span>Pending</span>
              </li>
            </ul>
            <ul class="rightTabs" id="options">
              <li id="viewDu">
                <span class="searchIcon"></span>
                <span>LP Findings</span>
              </li>
              <li>
                <span class="conditionIcon"></span>
                <span>Condition for Loan</span>
              </li>
              <li id="viewNotes">
                <span class="notesIcon"></span>
                <span>Notifications</span>
              </li>
            </ul>
          </ul>
        </div>
      </div>
      <!-- Description of list of options -->
      <!-- DU Findings in detail -->
      <div id="duFindingsWrapper" class="row">
      </div>
      <div class="duFindings" id="duFindings">
        <ul>
          <li class="hideDu"><span></span></li>
          <li>
            <span class="searchIcon"></span>
            <span>LP Findings</span>
          </li>
        </ul>
        <p>
          Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or leave and earning
          statement complete verbal verification of employment. 1005 and/or leave and earning statement complete verbal verification
          of employment. 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or
          leave and earning statement complete verbal verification of employment. 1005 and/or leave and earning statement
          complete verbal verification of employment. 1005 and/or leave and earning statement complete verbal verification
          of employment. 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or
          leave and earning statement complete verbal verification of employment. 1005 and/or leave and earning statement
          complete verbal verification of employment. 1005 and/or leave and earning statement complete verbal verification
          of employment. 1005 and/or leave and earning statement complete verbal verification of employment.
        </p>
        <div class="closeSection hideDu">
          <span>close</span>
        </div>
      </div>
      <!-- notes in detail -->
      <div class="notes" id="notes">
        <div class="notesHeader">
          <ul>
            <li class="hideNotes"><span></span></li>
            <li>
              <span class="notesIcon"></span>
              <span>Notifications</span>
            </li>
          </ul>
        </div>
        <ul class="notesDes">
          <li class="clearfix">
            <div class="bullet"></div>
            <div class="notesDate clearfix">
              <h3>12.01.2018</h3>
            </div>
            <div class="task">
              <h3>Task name-one</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
            <div class="task">
              <h3>Task name-two</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="bullet"></div>
            <div class="notesDate clearfix">
              <h3>10.01.2018</h3>
            </div>
            <div class="task">
              <h3>Task name-one</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
            <div class="task">
              <h3>Task name-two</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
            <div class="task">
              <h3>Task name-three</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="bullet"></div>
            <div class="notesDate clearfix">
              <h3>06.01.2018</h3>
            </div>
            <div class="task">
              <h3>Task name-one</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
            <div class="task">
              <h3>Task name-two</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
            <div class="task">
              <h3>Task name-three</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="bullet"></div>
            <div class="notesDate clearfix">
              <h3>12.01.2018</h3>
            </div>
            <div class="task">
              <h3>Task name-one</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
            <div class="task">
              <h3>Task name-two</h3>
              <div class="author">
                <span>12:45 am</span>
                <label>William John</label>
              </div>
              <p>
                Signed 1005 and/or leave and earning statement complete verbal verification of employment. 1005 and/or <span>Read More...</span>
              </p>
            </div>
          </li>
        </ul>
        <div class="closeSection">
          <span class="hideNotes">Cancel</span>
          <span class="view">View All</span>
        </div>
      </div>
      <!-- Categories and task condition -->
      <div class="mainSection clearfix">
        <!-- side menu -->
        <div class="leftMenu col-md-2 col-xs-2">
          <div class="category" data-toggle="collapse" data-target="#category-list"> View All Category <a href="javascript:void(0)" class="catageory-select pull-right"></a>
            <!-- onclick="showOverlay()" onfocusout="hideOverlay()" -->
            <div class="category-list collapse" id="category-list">
              <div><a href="javascript:void(0)">All</a></div>
              <div><a href="javascript:void(0)">Prior to Approval</a></div>
              <div><a href="javascript:void(0)">Prior to Document</a></div>
              <div><a href="javascript:void(0)">Prior to Closing</a></div>
              <div><a href="javascript:void(0)">Prior to Funding</a></div>
              <div><a href="javascript:void(0)">Prior to Underwriting</a></div>
            </div>

          </div>
          <ul>
            <li>
              ADDED BY DU
            </li>
            <li>
              <h4>Base Income</h4>
              <span class="threeDotIcon"></span>
              <div class="incomeStatus">
                <span>Open 10</span>
                <span class="closed">Closed 10</span>
              </div>
            </li>
            <li>
              <h4>Income from Assets</h4>
              <span class="threeDotIcon"></span>
              <div class="incomeStatus">
                <span>Open 10</span>
                <span class="closed">Closed 10</span>
              </div>
            </li>
            <li>
              ADDED BY UNDERWRITER
            </li>
            <li>
              <h4>Additonal Income</h4>
              <span class="threeDotIcon"></span>
              <div class="incomeStatus">
                <span>Open 10</span>
                <span class="closed">Closed 10</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- content -->
        <!-- borrower list -->
        <div class="rightMenu col-md-10 col-xs-10 paddingRight">
          <ul class="borrowerList">
            <li><a href="javascript:void(0)">Firstimer, Alice</a></li>
            <li><a href="javascript:void(0)">Home Owner, John</a></li>
          </ul>
          <!-- Task lists -->
          <ul class="taskList clearfix">
            <li class="active"><a data-toggle="tab" href="#task">Task List</a></li>
            <li><a data-toggle="tab" href="#menu2">1003 Form</a></li>
          </ul>
          <!-- task -->
          <div id="task">
            <!-- Required tasks -->
            <h3>Task Validation Category 1</h3>
            <div class="editCondition">
              <h3>(And) all required Validation</h3>
              <div class="descriptionList">
                <div class="detail">
                  <ul class="clearfix">
                    <div data-toggle="collapse" href="#collapse1" onclick="addIcon()">
                      <li class="col-md-4 col-xs-4"><span class="dropdownIcon"></span>Upload the most recent Paystub</li>
                    </div>
                    <li class="col-md-1 col-xs-1">Pending</li>
                    <li class="col-md-3 col-xs-3">10/27/2017 12:30 PM</li>
                    <li class="col-md-2 col-xs-2">Loan Officer</li>
                    <li class="col-md-2 col-xs-2 manage-validation paddingLeft">
                      <span class="settingIcon" onclick="showPopup()">
                        <ul class="validation_action" id="pop-up">
                          <div class="option"><span class="delete"></span>Delete</div>
                <div class="option"><span class="manage"></span>Manage</div>
                <div class="option"><span class="reopen"></span>Reopen</div>
                <div class="tip"></div>
                <div class="tip in"></div>
                </ul>
                </span>
                <span class="dropDown"></span>
                <span class="addIconTop"></span>
                <span id="bottomIcon" class="addIconMiddle"></span>
                </li>
                </ul>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="sourceInformation">
                    <span class="closeIcon"></span>
                    <label class="soruce">
                      <span>Source : </span> System Default</label>
                    <label>
                      <span>Reason :</span> Info Closed after discusssion with loan Officer</label>
                    <p>
                      <span>Task : </span> Lorm ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                      eget dolor. Aenean massa. Cum sociss natoque penatibus et magnis</p>
                  </div>
                </div>
              </div>
              <ul class="clearfix">
                <li class="col-md-4 col-xs-4"><span class="dropdownIcon"></span>Upload W2 of Previous Year</li>
                <li class="col-md-1 col-xs-1">Pending</li>
                <li class="col-md-3 col-xs-3">10/27/2017 12:30 PM</li>
                <li class="col-md-2 col-xs-2">Loan Officer</li>
                <li class="col-md-2 col-xs-2 manage-validation paddingLeft">
                    <span class="settingIcon" onclick="showPopup2()">
                        <ul class="validation_action" id="pop-up2">
                          <div class="option"><span class="delete"></span>Delete</div>
            <div class="option"><span class="manage"></span>Manage</div>
            <div class="option"><span class="reopen"></span>Reopen</div>
            <div class="tip"></div>
            <div class="tip in"></div>
            </ul>
            </span>
            <span class="dropDown"></span>
            <span class="addIconMiddle"></span>
            </li>

            </ul>
          </div>
          <!-- Optional task -->
          <h3>(Or) Either of one - Task not satisfied by above(and)group, either of one should be satisfied by below task(s)</h3>
          <div class="descriptionList">
            <ul class="addTask clearfix">
              <li class="col-md-2">
                <span></span>
                <label>Add Task</label>
              </li>
            </ul>

          </div>
        </div>
        <div class="toggleBtn">
          <div class="btn-toggle clearfix">
            <button class="btn btn-active" id="active" onclick="toggleactive()">AND</button>
            <button class="btn btn-inactive" id="inactive" onclick="toggleinactive()">OR</button>
          </div>
        </div>
        <h3>Task Validation Category 2</h3>
        <div class="editCondition">
          <h3>(And) all required Validation</h3>
          <div class="descriptionList">
            <ul class="clearfix">
              <li class="col-md-4 col-xs-4"><span class="dropdownIcon"></span>Upload VOE document</li>
              <li class="col-md-1 col-xs-1">Pending</li>
              <li class="col-md-5 col-xs-5">10/27/2017 12:30 PM</li>
              <li class="col-md-2 col-xs-2 manage-validation paddingLeft">
                  <span class="settingIcon" onclick="showPopup3()">
                      <ul class="validation_action" id="pop-up3">
                          <div class="option"><span class="delete"></span>Delete</div>
          <div class="option"><span class="manage"></span>Manage</div>
          <div class="option"><span class="reopen"></span>Reopen</div>
          <div class="tip"></div>
          <div class="tip in"></div>
          </ul>
          </span>
          <span class="dropDown"></span>
          <span class="addIconTop"></span>
          <span class="addIconMiddle"></span>
          </li>

          </ul>
        </div>
        <h3>(Or) Either of one - Task not satisfied by above(and)group, either of one should be satisfied by below task(s)</h3>
        <div class="descriptionList">
          <ul class="addTask clearfix">

            <span></span>
            <label>Add Task</label>

          </ul>

        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="button-wrapper clearfix">
    <div class="col-md-2 col-xs-2 suspended">
      <label>Suspended</label>
      <label class="suspensionCount">6/2</label>
      <span></span>
    </div>
    <div class="col-md-10 col-xs-10 clearfix paddingRight">
      <button type="submit" class="btn btn-primary add">
              <label>Add Task</label>
              <span></span>
          </button>
      <button type="submit" class="btn btn-primary start">
              <label>Start Execution</label>
              <span></span>
          </button>
    </div>
  </div>
  </div>


  <div class="footer row">
    <span>Copyright &#169; 2018 - FinRules. All rights reserved.</span>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../assets/js/script.js"></script>
  <!-- <script src="../assets/js/activetoggle.js"></script> -->
</body>

</html>