<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet/less" type="text/css" href="../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>

</head>

<body>
  <div class="activeConditionContainer">
    <!-- Header section -->
    <header>
      <div class="headerLogo row">
        <ul class="col-md-6 col-xs-6 padding0">
          <li class="col icon">
            <span class="logoIcon"></span>
          </li>
          <li class="col">
            <span class="logoName"></span>
          </li>
        </ul>
        <ul class="col-md-3 col-xs-3 padding0 pull-right">
          <div class="pull-right">
            <li class="col text-right padding0">
              <h3>John Smith</h3>
              <label>underWriter</label>
            </li>
            <li class="col">
              <span class="userIcon"></span>
              <i class="fa fa-caret-down"></i>
            </li>
          </div>
        </ul>
      </div>
      <!-- loan details header -->
      <div class="loanDetails row">
        <h3 class="col-md-2 col-xs-2">LOAN #19048394990</h3>
        <ul class="loanInformation col-md-7 col-xs-7">
          <li class="col-md-3 col-xs-3">
            <label>Borrower</label>
            <span>Garland Yoder</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Loan Status</label>
            <span>LE Pending</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Purchase Price</label>
            <span>$ 165,000.00</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Total Loan Amount</label>
            <span>$ 156,350.00</span>
          </li>
        </ul>
        <h3 class="col-md-2 col-xs-2 pull-right loanAvg text-center">Weighted Avg. 70%</h3>
      </div>
      <!-- select condition type -->
      <div class="row loanMenu">
        <div class="hamMenu">
          <div class="col hamIcon">
            <i class="fa fa-bars"></i>
          </div>
          <span class="leftArrow"></span>
          <label>Condition Type: Income</label>
        </div>
      </div>
    </header>
    <!-- main content -->
    <div class="content row">
      <!-- Add conditions -->
      <div class="activeConidition clearfix">
        <div class="col-md-2 col-xs-2 addConditionSection">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <label>Add Conditions</label>
          <div class="search">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="col-md-10 col-xs-10 paddingRight">
          <ul class="optionMenu">
            <ul class="leftTabs">
              <li>
                <h3>Additional Income</h3>
              </li>
              <li>
                <span>Pending</span>
              </li>
              <li>Weighted Avg. 20%</li>
            </ul>
            <ul class="rightTabs">
              <li>
                <i class="fa fa-search"></i>
                <span>DU Findings</span>
              </li>
              <li>
                <i class="fa fa-search"></i>
                <span>Condition for Loan</span>
              </li>
              <li>
                <i class="fa fa-search"></i>
                <span>Notes</span>
              </li>
            </ul>
          </ul>
        </div>
      </div>

      <!-- Categories and task condition -->
      <div class="mainSection clearfix">
        <div class="leftMenu col-md-2 col-xs-2">
          <select class="form-control">
            <option>View All Category</option>
            <option>All</option>
            <option>Prior to Approval</option>
            <option>Prior to Document</option>
            <option>Prior to Closing</option>
            <option>Prior to Funding</option>
            <option>Prior to Underwriting</option>
          </select>
          <ul class="">
            <li>
              ADDED BY DU
            </li>
            <li>
              <h4>Base Income</h4>
              <span class="threeDotIcon"></span>
              <div class="incomeStatus">
                <span>Open 10</span>
                <span class="closed">Closed 10</span>
              </div>
            </li>
            <li>
              <h4>Income from Assets</h4>
              <span class="threeDotIcon"></span>
              <div class="incomeStatus">
                <span>Open 10</span>
                <span class="closed">Closed 10</span>
              </div>
            </li>
            <li>
              ADDED BY UNDERWRITER
            </li>
            <li>
              <h4>Additonal Income</h4>
              <span class="threeDotIcon"></span>
              <div class="incomeStatus">
                <span>Open 10</span>
                <span class="closed">Closed 10</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- borrower list -->
        <div class="rightMenu col-md-10 col-xs-10 paddingRight">
          <ul class="borrowerList">
            <li>Garland Yoder</li>
            <li>Co-Borrower 1</li>
            <li>Co-Borrower 2</li>
          </ul>
          <!-- Task lists -->
          <ul class="taskList">
            <li>Task List</li>
            <li>1003 Form</li>
          </ul>
          <!-- task -->
          <h3>Task Validation Category 1</h3>
          <div class="editCondition">
            <h3>(And) all required Validation</h3>
            <ul class="row">
                <!-- <li class="col-md-1 col-xs-1">
                  <span class="dropdownIcon"></span>
                </li> -->
                <li class="col-md-4 col-xs-4"><span class="dropdownIcon"></span>Upload divorse degree Satisfied</li>
                <li class="col-md-1 col-xs-1">Satisfied</li>
                <li class="col-md-5 col-xs-5">10/27/2017 12:30 PM</li>
                <!-- <li class="col-md-1 col-xs-1">
                  <span class="settingIcon"></span>
                </li> -->
                <li class="col-md-2 col-xs-2">
                    <span class="settingIcon"></span>
                  <span class="dropDown"></span>
                  <span class="addIconTop"></span>
                  <span class="addIconBottom"></span>
                </li>
    
              </ul>
              <h3>(Or) Either of one - Task not satisfied by above(and)group, either of one should be satisfied by below task(s)</h3>
              <ul class="row pendingrows">
                <!-- <li class="col-md-1 col-xs-1">
                  <span class="dropdownIcon"></span>
                </li> -->
                <li class="col-md-4 col-xs-4"><span class="dropdownIcon"></span>Upload seperation Agreement</li>
                <li class="col-md-1 col-xs-1">Pending</li>
                <li class="col-md-3 col-xs-3">10/27/2017 12:30 PM</li>
                <li class="col-md-2 col-xs-2">Loan Officer</li>
                <!-- <li class="col-md-1 col-xs-1">
                  <span></span>
                </li> -->
                <li class="col-md-2 col-xs-2">
                    <span class="settingIcon"></span>
                  <label class="orOption">OR</label>
                  <span class="dropDown"></span>
                  <span class="addIconTop"></span>
                  <span class="addIconBottom"></span>
                </li>
    
              </ul>
              <ul class="row pendingrows">
                <!-- <li class="col-md-1 col-xs-1">
                  <span class="dropdownIcon"></span>
                </li> -->
                <li class="col-md-4 col-xs-4"><span class="dropdownIcon"></span>Upload Court Degree</li>
                <li class="col-md-1 col-xs-1">Pending</li>
                <li class="col-md-3 col-xs-3">10/27/2017 12:30 PM</li>
                <li class="col-md-2 col-xs-2">Loan Officer</li>
                <!-- <li class="col-md-1 col-xs-1">
                  <span></span>
                </li> -->
                <li class="col-md-2 col-xs-2">
                    <span class="settingIcon"></span>
                  <label class="orOption">OR</label>
                  <span class="dropDown"></span>
                  <span class="addIconTop"></span>
                  <span class="addIconBottom"></span>
                </li>
    
              </ul>
              <ul class="row pendingrows">
                <!-- <li class="col-md-1 col-xs-1">
                  <span class="dropdownIcon"></span>
                </li> -->
                <li class="col-md-4 col-xs-4"><span class="dropdownIcon"></span>Upload any Legal Documents</li>
                <li class="col-md-1 col-xs-1">Pending</li>
                <li class="col-md-3 col-xs-3">10/27/2017 12:30 PM</li>
                <li class="col-md-2 col-xs-2">Loan Officer</li>
                <!-- <li class="col-md-1 col-xs-1">
                  <span></span>
                </li> -->
                <li class="col-md-2 col-xs-2">
                    <span class="settingIcon"></span>
                  <label class="orOption">OR</label>
                  <span class="dropDown"></span>
                  <span class="addIconTop"></span>
                </li>
    
              </ul>
              <div class="sourceInformation">
                <span class="closeIcon"></span>
                <label class="soruce">
                  <span>Source: </span>System Default</label>
                <label>
                  <span>Reason:</span>Info Closed after discusssion with loan Officer</label>
                <p>
                  <span>Task: </span>Lorm ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociss natoque penatibus et magnis</p>
                <span class="addIconTop"></span>
              </div>
            </div>
            <div class="toggleBtn">
              <div class="andState">And</div>
              <span>Or</span>
            </div>
            <h3>Task Validation Category 2</h3>
            <div class="editCondition">
              <h3>(And) all required Validation</h3>
              <ul class="row">
                <!-- <li class="col-md-1 col-xs-1">
                  <span class="dropdownIcon"></span>
                </li> -->
                <li class="col-md-4 col-xs-4"><span class="dropdownIcon"></span>Upload divorse degree Satisfied</li>
                <li class="col-md-1 col-xs-1">Satisfied</li>
                <li class="col-md-5 col-xs-5">10/27/2017 12:30 PM</li>
                <!-- <li class="col-md-1 col-xs-1">
                  <span></span>
                </li> -->
                <li class="col-md-2 col-xs-2">
                    <span class="settingIcon"></span>
                  <span class="dropDown"></span>
                  <span class="addIconTop"></span>
                  <span class="addIconBottom"></span>
                </li>
    
              </ul>
              <h3>(Or) Either of one - Task not satisfied by above(and)group, either of one should be satisfied by below task(s)</h3>
              <ul class="addTask row">
                <li class="col-md-2">
                  <span></span>
                  <label>Add Task</label>
                </li>
              </ul>
            </div>
            
          </div>

      </div>
      <div class="clearfix">
        <div class="col-md-2 col-xs-2 suspended">
          <label>Suspended</label>
          <label class="suspensionCount">6/2</label>
          <span></span>
        </div>
        <div class="col-md-10 paddingRight">
          <div class="button-wrapper clearfix">
            <button type="submit" class="btn btn-primary add">
                    <label>Add Task</label>
                    <span></span>
                  </button>
            <button type="submit" class="btn btn-primary start">
                  <label>Start Execution</label>
                  <span></span>
                </button>


          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>