<!DOCTYPE html>
<html lang="en-us">

<head>
  <title>:: FinRules ::</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet/less" type="text/css" href="../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>
</head>

<body>
  <div class="admin-wrap">
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand logo-wrap" href="javascript:void(0)"><span class="logo"></span></a>
          </div>
          <ul class="nav navbar-nav nav-pills headerlinks">
            <li class="active"><a href="admin.html">DASHBOARD</a></li>
            <li><a href="pipeline.html">PIPELINE</a></li>
            <li><a href="adminConfig.html">ADMIN CONFIG</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right dashboardhead-right">
            <li class="username-wrap">
              <span class="user">John Smith</span>
              <span class="profession">Underwriter</span>
            </li>
            <li>
              <a href="javascript:void(0)">
            <span class="usericon-wrap"><span class="user-icon"></span></span>
            <span class="dropdown-icon"></span>
            </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  
      <div class="dashboard-wrap">
        <section class="dashboard-title">
          <h1>Dashboard</h1>
        </section>
        <section class="dashboardselect-row">
          <form class="form-inline">
            <div class="form-group report-wrap">
              <label>Report Timeline</label>
              <div class="reportinput-wrap">
                <input type='text' class="form-control" value="January 1 - 2018 to February 1 - 2018" />
                <span class="calendar-icon"></span>
              </div>
            </div>
            <div class="form-group channel-wrap">
              <label>Channel</label>
              <div class="channelselect-wrap">
                <select class="form-control" id="sel1">
                <option>Retail</option>
              </select>
                <span class="dropdown-icon"></span>
              </div>
            </div>
            <div class="form-group branch-wrap">
              <label>Branch</label>
              <div class="branchselect-wrap">
                <select class="form-control" id="sel1">
                  <option>San Ramon, CA</option>
                </select>
                <span class="dropdown-icon"></span>
              </div>
            </div>
            <button type="button" class="btn btn-default pull-right"><span class="refresh-icon"></span><span>Refresh</span></button>
          </form>
        </section>
        <section class="main">
          <div class="row">
            <div class="piw-wrap col-xs-4 margin-right">
              <!-- <div class="piw-wrap margin-right"> -->
              <h2>PIW / ACE ELIGIBILITY CHECK</h2>
              <div class="description piw-description">
                <!-- <div class="piw-chart">

              </div> --><img src="../assets/images/piw.png">
              </div>
            </div>
            <div class="loans-wrap col-xs-8">
              <!-- <div class="loans-wrap"> -->
              <h2>LOANS SUBMITTED</h2>
              <div class="description">
                <!-- <div class="loans-chart">

              </div> --><img src="../assets/images/loans.png">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="topfindings-wrap col-xs-8 margin-right">
              <!-- <div class="topfindings-wrap margin-right"> -->
              <h2>TOP FINDINGS</h2>
              <div class="description">
                <!-- <div class="topfindings-chart">

                </div>   -->
                <img src="../assets/images/topfindings.png">
              </div>
            </div>
            <div class="averagefindings-wrap col-xs-4">
              <!-- <div class="averagefindings-wrap"> -->
              <h2>AVERAGE FINDINGS PER LOAN</h2>
              <div class="description">
                <!-- <div class="averagefindings-chart">

                </div>   --><img src="../assets/images/averagefindings.png">
              </div>
            </div>
          </div>

          <div class="row last-row">
            <div class="aus-wrap col-xs-7 margin-right">
              <!-- <div class="aus-wrap margin-right"> -->
              <h2>PERCENTAGE OF LOANS WHICH RECEIVED AUS ELIGIBILITY</h2>
              <div class="description">
                <!-- <div class="aus-chart">

                </div>   --><img src="../assets/images/aus.png">
              </div>
            </div>
            <div class="conditions-wrap col-xs-5">
              <!-- <div class="conditions-wrap"> -->
              <h2>COUNT OF CONDITIONS</h2>
              <div class="description">
                <!-- <div class="conditions-chart">

                </div>   --><img src="../assets/images/count.png">
              </div>
            </div>
          </div>
        </section>
      </div>
    
      <footer>
        <p>Copyright &copy; 2018 - FinRules. All rights reserved.</p>
      </footer>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
</body>

</html>