<!DOCTYPE html>
<html lang="en-us">

<head>
  <title>:: FinRules ::</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet/less" type="text/css" href="../assets/css/styles.less" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>
</head>

<body>
  <div class="admin-wrap">
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand logo-wrap" href="javascript:void(0)"><span class="logo"></span></a>
          </div>
          <ul class="nav navbar-nav nav-pills headerlinks">
            <li class="active"><a data-toggle="pill" href="#dashboard-wrap">DASHBOARD</a></li>
            <li><a data-toggle="pill" href="#pipeline-wrap">PIPELINE</a></li>
            <li><a data-toggle="pill" href="#adminconfig-wrap">ADMIN CONFIG</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right dashboardhead-right">
            <li class="username-wrap">
              <span class="user">John Smith</span>
              <span class="profession">Underwriter</span>
            </li>
            <li>
              <a href="javascript:void(0)">
            <span class="usericon-wrap"><span class="user-icon"></span></span>
            <span class="dropdown-icon"></span>
            </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="tab-content">
      <div class="dashboard-wrap tab-pane fade in active" id="dashboard-wrap">
        <section class="dashboard-title">
          <h1>Dashboard</h1>
        </section>
        <section class="dashboardselect-row">
          <form class="form-inline">
            <div class="form-group report-wrap">
              <label>Report Timeline</label>
              <div class="reportinput-wrap">
                <input type='text' class="form-control" value="January 1 - 2018 to February 1 - 2018" />
                <span class="calendar-icon"></span>
              </div>
            </div>
            <div class="form-group channel-wrap">
              <label>Channel</label>
              <div class="channelselect-wrap">
                <select class="form-control" id="sel1">
                <option>Retail</option>
              </select>
                <span class="dropdown-icon"></span>
              </div>
            </div>
            <div class="form-group branch-wrap">
              <label>Branch</label>
              <div class="branchselect-wrap">
                <select class="form-control" id="sel1">
                  <option>San Ramon, CA</option>
                </select>
                <span class="dropdown-icon"></span>
              </div>
            </div>
            <button type="button" class="btn btn-default pull-right">Refresh</button>
          </form>
        </section>
        <section class="main">
          <div class="row">
          <div class="piw-wrap col-xs-4 margin-right">
            <h2>PIW / ACE ELIGIBILITY CHECK</h2>
            <div class="description">

            </div>
          </div>
          <div class="loans-wrap col-xs-8">
            <h2>LOANS SUBMITTED</h2>
            <div class="description">

            </div>
          </div>
        </div>

        <div class="row">
            <div class="topfindings-wrap col-xs-8 margin-right">
              <h2>TOP FINDINGS</h2>
              <div class="description">
  
              </div>
            </div>
            <div class="averagefindings-wrap col-xs-4">
              <h2>AVERAGE FINDINGS PER LOAN</h2>
              <div class="description">
  
              </div>
            </div>
          </div>

        <div class="row last-row">
            <div class="aus-wrap col-xs-7 margin-right">
              <h2>PERCENTAGE OF LOANS WHICH RECEIVED AUS ELIGIBILITY</h2>
              <div class="description">
  
              </div>
            </div>
            <div class="conditions-wrap col-xs-5">
              <h2>COUNT OF CONDITIONS</h2>
              <div class="description">
  
              </div>
            </div>
          </div>


        </section>
      </div>
      <div class="tab-pane fade" id="pipeline-wrap">
  
  
      </div>
  
      <div class="tab-pane fade" id="adminconfig-wrap">
  
  
      </div>
    </div>
    <footer>
      <p>Copyright &copy; 2018 - FinRules, All rights reserved.</p>
    </footer>
  </div>
</body>

</html>