<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>:: FinRules ::</title>
  <link rel="stylesheet/less" type="text/css" href="../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>

</head>

<body>
  <div class="activeConditionContainer">
    <!-- Header section -->
    <header class="row">
        <span class="col icon">
              <span class="logoIcon"></span>
        </span>
        <span class="col">
              <span class="logoName"></span>
        </span>
        <div class="pull-right">
          <span class="col text-right padding0">
              <h3>John Smith</h3>
              <label>Underwriter</label>
            </span>
          <span class="col">
              <span class="userIcon"></span>
          <i class="fa fa-caret-down"></i>
          </span>
        </div>
    </header>
    <!-- loan details header -->
    <div class="loanDetails row">
      <h3 class="col-md-2 col-xs-2">LOAN # W2018030139</h3>
      <ul class="loanInformation col-md-7 col-xs-7">
        <li class="col-md-3 col-xs-3">
          <label>Borrower</label>
          <span>Firstimer, Alice</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Loan Status</label>
          <span>In Underwriting</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Purchase Price</label>
          <span>$ 250,000.00</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Total Loan Amount</label>
          <span>$ 217,150.00</span>
        </li>
      </ul>
    </div>
    <div id="duFindingsWrapper" class="row">
      </div>
    <!-- select condition type -->
    <div class="row loanMenu">
        <div class="hamMenu clearfix">
          <div class="col hamIcon paddingLeft">
              <a href="javascript:void(0)" class="hamperIcon" onclick ="showsideMenu()"></a>
          </div>
          
          <h3 class="col summaryLabel">Condition Type: Assets</h3>
        </div>
        <nav id="sideMenu">
            <ul>
              <li><a href="javascript:void(0)" onclick="hideSideMenu()"><span class="closeSideMenu"></span></a></li>
              <li><a class="mainMenu activeMenu" href="loanSummary.html" id="loansummary">LOAN SUMMARY</a></li>
              <li><a class="mainMenu" href="recommendation.html" id="aus">AUS COMPARISON</a></li>
              <li><a class="mainMenu" href="conditiontype.html" id="cond">CONDITION MANAGEMENT</a></li>
              <li><a class="mainMenu" href="activecondition.html" id="data">Loan Data</a></li>
            </ul>
          </nav>
      </div>

    <!-- main content -->
    <div class="content row">
      <!-- Add conditions -->
      <div class="activeCondition clearfix">
        <div class="col-md-2 col-xs-2 padding0">
          <a href="addConditionflow.html" class="col-xs-10 addConditionSection paddingRight">
          <span class="add"></span>
          <label>Add Conditions</label>
        </a>
          <div class="col-xs-2 search">
            <span></span>
          </div>
        </div>
        <div class="col-md-10 col-xs-10 paddingRight">
          <ul class="optionMenu clearfix">
            <ul class="leftTabs">
              <li>
                <h3>Asset Banking</h3>
              </li>
              <li>
                <span>Pending</span>
              </li>
            </ul>
            <ul class="rightTabs" id="options">
              <li id="viewDu">
                <span class="searchIcon"></span>
                <span>LPA Findings</span>
              </li>
              <li id="viewCondition">
                <span class="conditionIcon"></span>
                <span>Condition for Loan</span>
              </li>
              <li id="viewNotes">
                <span class="notesIcon"></span>
                <span>Notifications</span>
              </li>
            </ul>
          </ul>
        </div>
      </div>
      <!-- Description of list of options -->
      <!-- DU Findings in detail -->
      <div id="duFindingsWrapper" class="row">
      </div>
      <div class="duFindings" id="duFindings">
        <ul>
          <li class="hideDu"><span></span></li>
          <li>
            <span class="searchIcon"></span>
            <span>LPA Findings</span>
          </li>
        </ul>
        <p>
          The total funds to be verified are no less than $21,066.00. This amount includes Required Borrower Funds ($21,066.00), required
          reserves ($0.00) and any debts to be paid off at or before closing ($0.00). The total funds to be verified do not
          include funds needed to pay down debt. In addition, the amount of discount points paid by someone other than the
          Borrower must be added to the amount that must be verified.
        </p>
        <div class="closeSection hideDu">
          <span>close</span>
        </div>
      </div>
      <div class="duFindings" id="loan">
        <ul>
          <li class="hideloan"><span></span></li>
          <li>
            <span class="conditionIcon"></span>
            <span>Condition for Loan</span>
          </li>
        </ul>
        <p>
          CREDIT: ASSET BALANCES MUST BE CALCULATED PER AUS AND GUIDELINE REQUIREMENTS FOR RETIREMENT, STOCKS, ETC. IF FUNDS ARE BEING
          USED TO COVER CLOSING THEN PROOF OF LIQUIDATION OF FUNDS IS REQUIRED .
        </p>
        <div class="closeSection hideloan">
          <span>close</span>
        </div>
      </div>
      <!-- notes in detail -->
      <div class="notes" id="notes">
        <div class="notesHeader">
          <ul>
            <li class="hideNotes"><span></span></li>
            <li>
              <span class="notesIcon"></span>
              <span>Notifications</span>
            </li>
          </ul>
        </div>
        <ul class="notesDes">
          <li class="clearfix">
            <div class="bullet"></div>
            <div class="notesDate clearfix">
              <h3>03/17/2018</h3>
            </div>
            <div class="task">
              <h3>LPA Findings executed</h3>
              <div class="author">
                <span>6:30 pm</span>
                <!-- <label>William John</label> -->
              </div>
              <p>
                LPA Findings executed for the Loan File. Notification sent to the Loan Officer for documentation
                <!-- <span>Read More...</span> -->
              </p>
            </div>
            <div class="task">
              <h3>LPA Findings attached</h3>
              <div class="author">
                <span>6:30 pm</span>
                <!-- <label>William John</label> -->
              </div>
              <p>
                LPA Findings attached to the Loan File. Findings matched to respective Tasks and Business Rules
                <!-- <span>Read More...</span> -->
              </p>
            </div>
            <div class="task">
              <h3>Loan File successfully validated</h3>
              <div class="author">
                <span>6:30 pm</span>
                <!-- <label>William John</label> -->
              </div>
              <p>
                Loan File successfully validated by FinRules. Loan File fungible for both DU, LPA Submission
                <!-- <span>Read More...</span> -->
              </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="bullet"></div>
            <div class="notesDate clearfix">
              <h3>03/15/2018</h3>
            </div>
            <div class="task">
              <h3>Loan File submitted</h3>
              <div class="author">
                <span>11:15 am</span>
                <!-- <label>William John</label> -->
              </div>
              <p>
                Loan File submitted to Underwriting for Approval. Loan Status Changed to “In Underwriting”
                <!-- <span>Read More...</span> -->
              </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="bullet"></div>
            <div class="notesDate clearfix">
              <h3>03/13/2018</h3>
            </div>
            <div class="task">
              <h3>Initial Disclosure sent</h3>
              <div class="author">
                <span>11:25 am</span>
                <!-- <label>William John</label> -->
              </div>
              <p>
                Initial Disclosure sent to Firstimer, Alice and Homeowner, John for e-consent
                <!-- <span>Read More...</span> -->
              </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="bullet"></div>
            <div class="notesDate clearfix">
              <h3>03/12/2018</h3>
            </div>
            <div class="task marginalSpace">
              <h3>Initial Disclosure Requested</h3>
              <div class="author">
                <span>11:15 am</span>
                <!-- <label>William John</label> -->
              </div>
              <p>
                RESPA Triggered and Initial Disclosure Requested for the Loan File. Loan File submitted to the Disclosure Desk
                <!-- <span>Read More...</span> -->
              </p>
            </div>
          </li>
        </ul>
        <div class="closeSection">
          <span class="hideNotes">Cancel</span>
          <!-- <span class="view">View All</span> -->
        </div>
      </div>
      <!-- Categories and task condition -->
      <div class="mainSection clearfix">
        <!-- side menu -->
        <div class="leftMenu col-md-2 col-xs-2">
          <div class="category" data-toggle="collapse" data-target="#category-list"> View All Category <a href="javascript:void(0)" class="catageory-select pull-right"></a>
            <!-- onclick="showOverlay()" onfocusout="hideOverlay()" -->
            <div class="category-list collapse" id="category-list">
              <div><a href="javascript:void(0)">All</a></div>
              <div><a href="javascript:void(0)">Prior to Approval</a></div>
              <div><a href="javascript:void(0)">Prior to Document</a></div>
              <div><a href="javascript:void(0)">Prior to Closing</a></div>
              <div><a href="javascript:void(0)">Prior to Funding</a></div>
              <div><a href="javascript:void(0)">Prior to Underwriting</a></div>
            </div>

          </div>
          <ul>
            <li class="subHeading">
              ADDED BY LPA
            </li>
            <li>
              <h4>Asset Banking</h4>
              <span class="threeDotIcon"></span>
              <div class="incomeStatus">
                <span>Open 3</span>
                <span class="closed">Closed 0</span>
              </div>
            </li>
            <li class="commonList">
              <h4>Asset - Stock &amp; Bond</h4>
              <span class="threeDotIcon"></span>
              <div class="incomeStatus">
                <span>Open 3</span>
                <span class="closed">Closed 0</span>
              </div>
            </li>
            <li class="commonList">
              <h4>Asset - Life Insurance</h4>
              <span class="threeDotIcon"></span>
              <div class="incomeStatus">
                <span>Open 3</span>
                <span class="closed">Closed 0</span>
              </div>
            </li>
          </ul>
          <div class="button-wrapper-suspended clearfix">
            <div class="col-xs-12 suspended">
              <label>Suspended</label>
              <label class="suspensionCount">6</label>
              <!-- <label class="badge">6</label> -->
              <span></span>
            </div>

          </div>
        </div>
        <!-- content -->
        <!-- borrower list -->
        <div class="rightMenu col-md-10 col-xs-10 paddingRight">
          <ul class="borrowerList">
            <li class="active"><a data-toggle="pill" href="#alice">Firstimer, Alice</a></li>
            <li><a data-toggle="pill" href="#john">Homeowner, John</a></li>
          </ul>
          <!-- Task lists -->
          <div class="tab-content">
            <div id="alice" class="tab-pane fade in active">
              <ul class="nav nav-pills taskList clearfix">
                <li class="task active"><a data-toggle="pill" href="#task">Task List</a></li>
                <li class="task"><a data-toggle="pill" href="#assets">Loan Data</a></li>
              </ul>
              <div class="tab-content">
                <div id="task" class="tab-pane fade  in active">
                  <!-- Required tasks -->
                  <h3>Task Validation Category 1</h3>
                  <div class="editCondition">
                    <h3>(And) all required Validation</h3>
                    <div class="descriptionList">
                      <div class="detail">
                        <ul class="clearfix">
                          <div data-toggle="collapse" href="#collapse1" onclick="addIcon()">
                            <li class="col-xs-6"><span class="dropdownIcon" id="rotateArrow"></span>Upload Document to verify Assets Totaling
                              $21,066.00 </li>
                          </div>
                          <li class=" col-xs-1">Pending</li>
                          <li class="col-xs-2">10/27/2017 12:30 PM</li>
                          <li class="col">Loan Officer</li>
                          <li class="col manage-validation paddingLeft text-center">
                            <span class="settingIcon" onclick="showPopup()">
                            <ul class="validation_action text-left" id="pop-up">
                              <div class="option"><span class="delete"></span>Delete</div>
                      <div class="option"><span class="manage"></span> Business Rule</div>
                      <div class="option"><span class="reopen"></span> Reopen</div>
                      <div class="tip"></div>
                      <div class="tip in"></div>
                      </ul>
                      </span>
                      <span class="plusIcon">OR</span>
                      <span class="dropDown"></span>
                      <span class="addIconTop"></span>
                      <span id="bottomIcon" class="addIconMiddle"></span>
                      </li>
                      </ul>
                      <div id="collapse1" class="panel-collapse collapse">
                        <div class="sourceInformation">
                          <span class="closeIcon"></span>
                          <label class="soruce">
                          <span>Source : </span> System Default</label>
                          <!-- <label>
                          <span>Reason :</span> Info Closed after discusssion with loan Officer</label> -->
                          <p>
                            <span>Task : </span>Document supporting Stable Income Source</p>
                        </div>
                      </div>
                    </div>
                    <ul class="clearfix">
                      <li class="col-xs-6 paddingRight"><span class="dropdownIcon"></span>Assets Totaling $21,066.00 can be verified by third party verification
                        services
                      </li>
                      <li class="col-xs-1">Pending</li>
                      <li class="col-xs-2">10/27/2017 12:30 PM</li>
                      <li class="col">Loan Officer</li>
                      <li class="col manage-validation paddingLeft text-center">
                        <span class="settingIcon" onclick="showPopup2()">
                              <ul class="validation_action displayNone text-left" id="pop-up2">
                                <div class="option"><span class="delete"></span>Delete</div>
                  <div class="option"><span class="manage"></span> Business Rule</div>
                  <div class="option"><span class="reopen"></span> Reopen</div>
                  <div class="tip"></div>
                  <div class="tip in"></div>
                  </ul>
                  </span>
                  <span class="plusIcon">OR</span>
                  <span class="dropDown"></span>
                  <span class="addIconMiddle"></span>
                  </li>

                  </ul>
                </div>
                <!-- Optional task -->
                <h3>(Or) Either of one - Task not satisfied by above(and)group, either of one should be satisfied by below task(s)</h3>
                <div class="descriptionList">
                  <ul class="addTask clearfix">
                    <li class="col-md-2">
                      <span></span>
                      <label>Add Task</label>
                    </li>
                  </ul>

                </div>
              </div>

              <div class="toggleBtn">
                <div class="btn-toggle clearfix disabled-switch">
                  <button class="btn btn-disabled">And</button>
                  <button class="btn btn-disabled">Or</button>
                </div>
              </div>
              <div class="button-wrapper clearfix">
                <div class="col-md-12 col-xs-12 clearfix taskButton positionBottom padding0">
                  <button type="submit" class=" btn btn-primary add">
                                  <label>Add Task Validation Category 2</label>
                                  <span></span>
                              </button>
                  <button type="submit" class="btn btn-primary start">
                                  <label>Start Execution</label>
                                  <span></span>
                              </button>
                </div>
              </div>
            </div>
            <div id="assets" class="assets tab-pane fade">
              <h2>Assets</h2>
              <div class="subtotal row">
                <div class="col-xs-3">
                  <label>Subtotal Liquid :</label>
                  <span>$20,000.00</span>
                </div>
                <div class="col-xs-3">
                  <label>Subtotal Other :</label>
                  <span>$11,000.00</span>
                </div>
                <div class="col-xs-3">
                  <label>Borrower Total :</label>
                  <span>$31,000.00</span>
                </div>
              </div>
              <div class="heading row">
                <label class="col-xs-1">Owner</label>
                <label class="col-xs-3">Asset Type</label>
                <label class="col-xs-6">Description</label>
                <label class="col-xs-2">Market Value</label>
              </div>
              <div class="description">
                <div data-toggle="collapse" href="#expand1003" class="panel-heading row" onclick="expand1003()">
                  <span id="icon" class="icon"></span>
                  <label class="col-xs-1">Alice</label>
                  <label class="col-xs-3">Checking</label>
                  <label class="col-xs-6">Checking Accounts</label>
                  <label class="col-xs-2">$ 20000.00</label>
                </div>
                <div id="expand1003" class="panel-collapse collapse in panel-description">
                  <div class="panel-content">
                    <div class="row">
                      <div class="col-xs-1">
                        <label>
                          Owner:
                      </label>
                        <span>
                          Borrower
                      </span>
                      </div>
                      <div class="col-xs-1">
                        <label>
                          Type:
                    </label>
                        <span>
                        Checking
                    </span></div>
                      <div class="col-xs-2">
                        <label>
                          Company Name:
                    </label>
                        <span>
                        Bank of America
                    </span></div>
                      <div class="col-xs-3">
                        <label>
                            Department:
                        </label>
                        <span>
                            -
                        </span>
                      </div>
                      <div class="col-xs-3">
                        <label>
                            Address:
                        </label>
                        <span>
                            Address San Ramon, CA, 94583
                        </span>
                      </div>
                      <div class="col-xs-2">
                        <label>
                            Phone Number:
                        </label>
                        <span>
                            (123)223-2222
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-2">
                        <label>
                                Description:
                            </label>
                        <span>
                                Checking Accounts
                            </span>
                      </div>
                      <div class="col-xs-2">
                        <label>
                                Value:
                            </label>
                        <span>
                                $ 20,000.00
                            </span>
                      </div>
                      <div class="col-xs-3">
                        <label>
                                Account Holder Name:
                            </label>
                        <span>
                                Alice
                            </span>
                      </div>
                      <div class="col-xs-5">
                        <label>
                                Account Number:
                            </label>
                        <span>
                                787838982
                            </span>
                      </div>
                    </div>
                  </div>
                  <div class="panelfooter">
                    <div class="row">
                      <div class="col-xs-2">
                        <label>
                              Verif.Sent
                          </label>
                        <span>
                          12/13/17 18 : 20 PM
                          </span>
                      </div>
                      <div class="col-xs-10">
                        <label>
                              Received
                          </label>
                        <span>
                          12/3/17 19 : 20 PM
                          </span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="panel-heading unexpand row">
                <span id="icon" class="icon"></span>
                <label class="col-xs-1">Alice</label>
                <label class="col-xs-3">Checking</label>
                <label class="col-xs-6">Checking Accounts</label>
                <label class="col-xs-2">$ 20000.00</label>
              </div>
            </div>

            <!-- task -->

          </div>

        </div>
        <div id="john" class="tab-pane fade">
          <ul class="nav nav-pills taskList clearfix">
            <li class="task active"><a data-toggle="pill" href="#task1">Task List</a></li>
            <li class="task"><a data-toggle="pill" href="#assets1">Loan Data</a></li>
          </ul>
          <div class="tab-content">
            <div id="task1" class="tab-pane fade  in active">
              <!-- Required tasks -->
              <h3>Task Validation Category 1</h3>
              <div class="editCondition">
                <h3>(And) all required Validation</h3>
                <div class="descriptionList">
                  <div class="detail">
                    <ul class="clearfix">
                      <div data-toggle="collapse" href="#collapse1" onclick="addIcon()">
                        <li class="col-xs-6"><span class="dropdownIcon" id="rotateArrow"></span>Upload Document to verify Assets Totaling $21,066.00
                        </li>
                      </div>
                      <li class=" col-xs-1">Pending</li>
                      <li class="col-xs-2">10/27/2017 12:30 PM</li>
                      <li class="col">Loan Officer</li>
                      <li class="col manage-validation paddingLeft text-center">
                        <span class="settingIcon" onclick="showPopup3()">
                      <ul class="validation_action text-left" id="pop-up3">
                        <div class="option"><span class="delete"></span>Delete</div>
                  <div class="option"><span class="manage"></span> Business Rule</div>
                  <div class="option"><span class="reopen"></span> Reopen</div>
                  <div class="tip"></div>
                  <div class="tip in"></div>
                  </ul>
                  </span>
                  <span class="plusIcon">OR</span>
                  <span class="dropDown"></span>
                  <span class="addIconTop"></span>
                  <span id="bottomIcon" class="addIconMiddle"></span>
                  </li>
                  </ul>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="sourceInformation">
                      <span class="closeIcon"></span>
                      <label class="soruce">
                    <span>Source : </span> System Default</label>
                      <!-- <label>
                    <span>Reason :</span> Info Closed after discusssion with loan Officer</label> -->
                      <p>
                        <span>Task : </span>Document supporting Stable Income Source</p>
                    </div>
                  </div>
                </div>
                <ul class="clearfix">
                  <li class="col-xs-6 paddingRight"><span class="dropdownIcon"></span>Assets Totaling $21,066.00 can be verified by third party verification
                    services
                  </li>
                  <li class="col-xs-1">Pending</li>
                  <li class="col-xs-2">10/27/2017 12:30 PM</li>
                  <li class="col">Loan Officer</li>
                  <li class="col manage-validation paddingLeft text-center">
                    <span class="settingIcon" onclick="showPopup4()">
                        <ul class="validation_action displayNone text-left" id="pop-up4">
                          <div class="option"><span class="delete"></span>Delete</div>
              <div class="option"><span class="manage"></span> Business Rule</div>
              <div class="option"><span class="reopen"></span> Reopen</div>
              <div class="tip"></div>
              <div class="tip in"></div>
              </ul>
              </span>
              <span class="plusIcon">OR</span>
              <span class="dropDown"></span>
              <span class="addIconMiddle"></span>
              </li>

              </ul>
            </div>
            <!-- Optional task -->
            <h3>(Or) Either of one - Task not satisfied by above(and)group, either of one should be satisfied by below task(s)</h3>
            <div class="descriptionList">
              <ul class="addTask clearfix">
                <li class="col-md-2">
                  <span></span>
                  <label>Add Task</label>
                </li>
              </ul>

            </div>
          </div>

          <div class="toggleBtn">
            <div class="btn-toggle clearfix disabled-switch">
              <button class="btn btn-disabled">And</button>
              <button class="btn btn-disabled">Or</button>
            </div>
          </div>
          <div class="button-wrapper clearfix">
            <div class="col-md-12 col-xs-12 clearfix taskButton positionBottom padding0">
              <button type="submit" class=" btn btn-primary add">
                            <label>Add Task Validation Category 2</label>
                            <span></span>
                        </button>
              <button type="submit" class="btn btn-primary start">
                            <label>Start Execution</label>
                            <span></span>
                        </button>
            </div>
          </div>
        </div>
        <div id="assets1" class="assets tab-pane fade">
          <h2>Assets</h2>
          <div class="subtotal row">
            <div class="col-xs-3">
              <label>Subtotal Liquid :</label>
              <span>$20,000.00</span>
            </div>
            <div class="col-xs-3">
              <label>Subtotal Other :</label>
              <span>$11,000.00</span>
            </div>
            <div class="col-xs-3">
              <label>Borrower Total :</label>
              <span>$31,000.00</span>
            </div>
          </div>
          <div class="heading row">
            <label class="col-xs-1">Owner</label>
            <label class="col-xs-3">Asset Type</label>
            <label class="col-xs-6">Description</label>
            <label class="col-xs-2">Market Value</label>
          </div>
          <div class="description">
            <div data-toggle="collapse" href="#expand1003" class="panel-heading row" onclick="expand1003()">
              <span id="icon" class="icon"></span>
              <label class="col-xs-1">Alice</label>
              <label class="col-xs-3">Checking</label>
              <label class="col-xs-6">Checking Accounts</label>
              <label class="col-xs-2">$ 20000.00</label>
            </div>
            <div id="expand1003" class="panel-collapse collapse in panel-description">
              <div class="panel-content">
                <div class="row">
                  <div class="col-xs-1">
                    <label>
                    Owner:
                </label>
                    <span>
                    Borrower
                </span>
                  </div>
                  <div class="col-xs-1">
                    <label>
                    Type:
              </label>
                    <span>
                  Checking
              </span></div>
                  <div class="col-xs-2">
                    <label>
                    Company Name:
              </label>
                    <span>
                  Bank of America
              </span></div>
                  <div class="col-xs-3">
                    <label>
                      Department:
                  </label>
                    <span>
                      -
                  </span>
                  </div>
                  <div class="col-xs-3">
                    <label>
                      Address:
                  </label>
                    <span>
                      Address San Ramon, CA, 94583
                  </span>
                  </div>
                  <div class="col-xs-2">
                    <label>
                      Phone Number:
                  </label>
                    <span>
                      (123)223-2222
                  </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    <label>
                          Description:
                      </label>
                    <span>
                          Checking Accounts
                      </span>
                  </div>
                  <div class="col-xs-2">
                    <label>
                          Value:
                      </label>
                    <span>
                          $ 20,000.00
                      </span>
                  </div>
                  <div class="col-xs-3">
                    <label>
                          Account Holder Name:
                      </label>
                    <span>
                          Alice
                      </span>
                  </div>
                  <div class="col-xs-5">
                    <label>
                          Account Number:
                      </label>
                    <span>
                          787838982
                      </span>
                  </div>
                </div>
              </div>
              <div class="panelfooter">
                <div class="row">
                  <div class="col-xs-2">
                    <label>
                        Verif.Sent
                    </label>
                    <span>
                    12/13/17 18 : 20 PM
                    </span>
                  </div>
                  <div class="col-xs-10">
                    <label>
                        Received
                    </label>
                    <span>
                    12/3/17 19 : 20 PM
                    </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="panel-heading unexpand row">
            <span id="icon" class="icon"></span>
            <label class="col-xs-1">Alice</label>
            <label class="col-xs-3">Checking</label>
            <label class="col-xs-6">Checking Accounts</label>
            <label class="col-xs-2">$ 20000.00</label>
          </div>
        </div>

        <!-- task -->
      </div>
    </div>
  </div>
  </div>
  </div>


  <div class="footer row">
    <span class="footerContent">Copyright &#169; 2018 - FinRules. All rights reserved.</span>
    <span class="right-content">
        <label>Powered By:</label>
        <span class="logo"></span>
    </span>
  </div>
  </div>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/sideMenu.js"></script>
  <script src="../assets/js/script.js"></script>
</body>

</html>