<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>:: FinRules ::</title>
  <link rel="stylesheet/less" type="text/css" href="../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>
</head>

<body>
  <div class="conditionContainer">
    <header>
        <div class="headerLogo row">
            <ul class="pull-left clearfix">
              <li class="col icon">
                <span class="logoIcon"></span>
              </li>
              <li class="col">
                <span class="logoName"></span>
              </li>
            </ul>
            <ul class="pull-right">
              
                <li class="col text-right padding0">
                  <h3>John Smith</h3>
                  <label>underWriter</label>
                </li>
                <li class="col">
                  <span class="userIcon"></span>
                  <i class="fa fa-caret-down"></i>
                </li>
            
            </ul>
          </div>
      <div class="loanDetails row">
        <h3 class="col-md-2 col-xs-2">LOAN # W2018030139</h3>
        <ul class="loanInformation col-md-7 col-xs-7">
          <li class="col-md-3 col-xs-3">
            <label>Borrower</label>
            <span>Firstimer, Alice</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Loan Status</label>
            <span>In Underwriting</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Purchase Price</label>
            <span>$ 250,000.00</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Total Loan Amount</label>
            <span>$ 217,150.00</span>
          </li>
        </ul>
      </div>
      <div class="row loanMenu">
        <div class="hamMenu col-md-2 col-xs-2">
          <i class="fa fa-bars"></i>
          <label>AUS - LPA</label>
        </div>
        <ul class="col-md-7 col-xs-7 loanReport">
          <li class="col-md-3 col-xs-3">
            <label>Reference No.</label>
            <span>3198764789</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Requested By</label>
            <span>Charlie</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Recommendation</label>
            <span>Accept</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <button type="submit">Download Report</button>
          </li>
        </ul>
        <div class="col-md-3 col-xs-3">
          <div class="runDu clearfix">
            <div class="col-md-7 col-xs-7">
              <label>Last Run</label>
              <span>1/17/18 2:05 PM</span>
            </div>
            <div class="col-md-5 col-xs-5 padding0">
              <button type="submit" duBtn>Run LPA Again</button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="row mainContent">
      <div class="cardView">
        <h2>CONDITION CATEGORY</h2>
        <div class="clearfix cards">
          <div class="individualCard">
            <a href="activecondition.html" onclick="displayIncome(1)">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Income</h3>
                  <label>Inprogress</label>
                </div>
                <span class="rightIcon"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                  Total Conditions
                </span>
                    <span class="right-content">
                    06
                </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>06</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>04</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>
          <div class="individualCard">
            <a href="activecondition.html">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Property</h3>
                  <label>Inprogress</label>
                </div>
                <span class="rightIcon"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                Total Conditions
              </span>
                    <span class="right-content">
                  07
              </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>06</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>04</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>

          <div class="individualCard">
            <a href="assets.html">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Asset</h3>
                  <label>Inprogress</label>
                </div>
                <span class="rightIcon"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                  Total Conditions
                </span>
                    <span class="right-content">
                    09
                </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>06</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>04</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>

          <div class="individualCard">
            <a href="activecondition.html">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Borrower</h3>
                  <label>Completed</label>
                </div>
                <span class="rightIcon"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                  Total Conditions
                </span>
                    <span class="right-content">
                    04
                </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>00</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>04</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>
          <div class="individualCard">
            <a href="activecondition.html">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Credit</h3>
                  <label>Completed</label>
                </div>
                <span class="rightIcon"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                  Total Conditions
                </span>
                    <span class="right-content">
                    04
                </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>00</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>04</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="startExecution">
        <button type="submit" class="btn btn-primary">
        <label>Start Execution</label>
				<span></span>
			</button>
      </div>
      <div class="lineBreak">
      </div>
      <div class="duFindings clearfix">
        <h2>UNASSIGNED
          <span>(03)</span>
        </h2>
        <div class="align clearfix">
            <div class="duCards">
              <div class="singleduCard">
                <h2>LPA Findings</h2>
                <p>A 10-day pre-closing verification (10-day PCV) for ALICE FIRSTIMER is required from each employer for which income
                  is used to qualify. The 10-day PCV must be dated no more than 10 Business Days prior to the Note Date or after
                  the Note Date but prior to the Delivery Date.
                </p>
              </div>
            </div>
            <div class="duCards">
              <div class="singleduCard">
                <h2>LPA Findings</h2>
                <p>If the following assets are used to qualify the borrower and are needed for closing, include evidence of liquidation
                  unless the combined value of the assets is at least 20% greater than the amount from these assets needed for
                  closing. When cash value of a life insurance policy is needed for closing, evidence of liquidation is required.
                  Life Insurance, Amt: $10,000, Holder: N/A; Stock, Amt: $5,000, Holder: N/A.
                </p>
              </div>
            </div>
            <div class="duCards">
              <div class="singleduCard">
                <h2>LPA Findings</h2>
                <p>Document the source of funds for any single deposit that exceeds $3,125.00, which is 50% of the total monthly
                  qualifying income OR reduce the asset amount by the unverified deposit and resubmit.
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="lineBreak">
      </div>
      <div class="footer">
        <span>Copyright &#169; 2018 - FinRules. All rights reserved.</span><span class="right-content">Powered By:<span class="logo"></span></span>
      </div>
    </div>
  </div>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/activeCondition.js"></script>
</body>

</html>