<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>:: FinRules ::</title>
  <link rel="stylesheet/less" type="text/css" href="../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>
</head>

<body>
   <!-- Header section -->
   <header>
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand logo-wrap" href="javascript:void(0)"><span class="logo"></span></a>
          </div>
          <ul class="nav navbar-nav nav-pills headerlinks">
            <li><a href="admin.html">DASHBOARD</a></li>
            <li class="active"><a href="pipeline.html">PIPELINE</a></li>
            <li><a href="adminConfig.html">ADMIN CONFIG</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right dashboardhead-right">
            <li class="username-wrap">
              <span class="user">John Smith</span>
              <span class="profession">Underwriter</span>
            </li>
            <li>
              <a href="javascript:void(0)">
              <span class="usericon-wrap"><span class="user-icon"></span></span>
              <span class="dropdown-icon"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  <div class="conditionContainer">
      <ol class="breadcrumb customBreadcrums row">
          <li><a href="pipeline.html">Pipeline</a></li>
          <li><a href="loanSummary.html">Loan Summary</a></li>
          <li><a class="active" href="javascript:void(0)">Condition Category</a></li>
        </ol>
    <div class="loanDetails row">
      <h3 class="col-md-2 col-xs-2">LOAN # W2018030139</h3>
      <ul class="loanInformation col-md-7 col-xs-7">
        <li class="col-md-3 col-xs-3">
          <label>Borrower</label>
          <span>Firstimer, Alice</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Loan Status</label>
          <span>In Underwriting</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Purchase Price</label>
          <span>$ 250,000.00</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Total Loan Amount</label>
          <span>$ 217,150.00</span>
        </li>
      </ul>
      <div class="backButton pull-right">
          <a href="pipeline.html"><button class="btn btn-back">Back to Pipeline</button></a>
        </div>
    </div>
    <div class="row loanMenu">
      <div class="hamMenu clearfix col-md-2 col-xs-2">
        <a href="javascript:void(0)" class="col hamperIcon" onclick="showsideMenu()"></a>
        <h3 class="col summaryLabel">AUS - LPA</h3>
      </div>
      <ul class="col-md-7 col-xs-7 loanReport">
        <li class="col-md-3 col-xs-3">
          <label>Reference No.</label>
          <span>3198764789</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Requested By</label>
          <span>Charlie</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Recommendation</label>
          <span>Accept</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <a href="../assets/images/LPA Report - Alice Firstimer.pdf" download><button type="submit">Download Report</button></a>
        </li>
      </ul>
      <div class="col-md-3 col-xs-3 paddingLeft">
        <div class="runDu clearfix">
          <div class="col-md-7 col-xs-7">
            <label>Last Run</label>
            <span>1/17/18 2:05 PM</span>
          </div>
          <div class="col-md-5 col-xs-5 paddingLeft">
            <button type="submit" class="pull-right">Run LPA Again</button>
          </div>
        </div>
      </div>
      <nav id="sideMenu">
        <ul>
          <li><a href="javascript:void(0)" onclick="hideSideMenu()"><span class="closeSideMenu"></span></a></li>
          <li><a class="mainMenu activeMenu" href="loanSummary.html" id="loansummary">LOAN SUMMARY</a></li>
          <li><a class="mainMenu" onclick="displayDuLp(1)" href="Workflow1/recommendation1.html" id="aus">AUS FINDING</a></li>
          <li><a class="mainMenu" href="conditiontype.html" id="cond">CONDITION CATEGORY</a></li>
          <li><a class="mainMenu" href="javascript:void(0)" id="data">LOAN DATA</a></li>
        </ul>
      </nav>
    </div>
    <div id="duFindingsWrapper" class="row">
    </div>

    <div class="totalfindings-row row">
      <div class="totalfindings-wrap col-xs-2">
        <label>TOTAL FINDINGS</label>
        <span>18</span>
      </div>
      <div class="totalcondition-wrap totalopen col-xs-2">
        <span class="totalopen-icon"></span>
        <label>TOTAL OPEN</label>
        <span class="total-value">07</span>
      </div>
      <div class="totalcondition-wrap totalclosed col-xs-2">
        <span class="totalclosed-icon"></span>
        <label>TOTAL CLOSED</label>
        <span class="total-value">08</span>
      </div>
      <div class="totalcondition-wrap totalunassign col-xs-2">
        <span class="totalunassigned-icon"></span>
        <label>TOTAL UNASSIGNED</label>
        <span class="total-value">03</span>
      </div>
    </div>
    <div class="condition-tabs row">
      <ul class="nav-pills clearfix">
        <li class="active"><a data-toggle="pill" href="#conditioncategory-wrap">CONDITION CATEGORY</a></li>
        <li><a data-toggle="pill" href="#unassigned-wrap">UNASSIGNED FINDINGS</a></li>
      </ul>
    </div>
    <div class="tab-content row mainContent">
      <!-- <div class="cardView">
        <h2>CONDITION CATEGORY</h2> -->
      <div id="conditioncategory-wrap" class="cardView tab-pane fade in active">
        <div class="clearfix cards">
          <div class="individualCard">
            <a href="activecondition.html">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Income</h3>
                  <label class="progressColor">In progress</label>
                </div>
                <span class="rightIconprogress"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                  Total Conditions
                </span>
                    <span class="right-content">
                    03
                </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>03</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>0</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>
          <div class="individualCard">
            <a href="activecondition.html">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Property</h3>
                  <label class="progressColor">In progress</label>
                </div>
                <span class="rightIconprogress"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                Total Conditions
              </span>
                    <span class="right-content">
                  01
              </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>01</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>0</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>

          <div class="individualCard">
            <a href="assets.html">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Asset</h3>
                  <label class="progressColor">In progress</label>
                </div>
                <span class="rightIconprogress"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                  Total Conditions
                </span>
                    <span class="right-content">
                    03
                </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>03</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>0</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>

          <div class="individualCard">
            <a href="activecondition.html">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Borrower</h3>
                  <label class="compColor">Completed</label>
                </div>
                <span class="rightIconcomp"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                  Total Conditions
                </span>
                    <span class="right-content">
                    04
                </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>0</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>04</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>
          <div class="individualCard">
            <a href="activecondition.html">
              <div class="cardHeader">
                <span class="leftIcon"></span>
                <div class="loanStatus">
                  <h3>Credit</h3>
                  <label class="compColor">Completed</label>
                </div>
                <span class="rightIconcomp"></span>
              </div>
              <div class="cardData">
                <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
                    <span class="left-content">
                  Total Conditions
                </span>
                    <span class="right-content">
                    04
                </span>
                  </div>
                </div>
                <div class="statusCount">
                  <div class="statusContainer openstatuswrap">
                    <div class="openStatus">
                      <label>0</label>
                    </div>
                    <span>Open</span>
                  </div>
                  <div class="statusContainer">
                    <div class="closeStatus">
                      <label>04</label>
                    </div>
                    <span>Closed</span>
                  </div>
                </div>
              </div>
              <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
              </div>
            </a>
          </div>
        </div>
        <div class="startExecution">
          <button type="submit" class="btn btn-primary">
            <label>Start Execution</label>
				    <span></span>
			    </button>
        </div>
      </div>
      <!-- <div class="lineBreak">
      </div> -->
      <!-- <div class="duFindings clearfix">
        <h2>UNASSIGNED
          <span>(03)</span>
        </h2> -->
      <div id="unassigned-wrap" class="tab-pane fade unassigned-wrap">
        <div class="unassigned-row clearfix">
          <div class="duCards">
            <div class="singleduCard">
              <!-- <h2>LPA Findings</h2> -->
              <p>A 10-day pre-closing verification (10-day PCV) for ALICE FIRSTIMER is required from each employer for which
                income is used to qualify. The 10-day PCV must be dated no more than 10 Business Days prior to the Note Date
                or after the Note Date but prior to the Delivery Date.
                <button class="btn btn-convert">Convert to Conditions</button>
              </p>
            </div>
          </div>
          <div class="duCards">
            <div class="singleduCard">
              <!-- <h2>LPA Findings</h2> -->
              <p>If the following assets are used to qualify the borrower and are needed for closing, include evidence of liquidation
                unless the combined value of the assets is at least 20% greater than the amount from these assets needed
                for closing. When cash value of a life insurance policy is needed for closing, evidence of liquidation is
                required. Life Insurance, Amt: $10,000, Holder: N/A; Stock, Amt: $5,000, Holder: N/A.
                <button class="btn btn-convert">Convert to Conditions</button>
              </p>
            </div>
          </div>
          <div class="duCards">
            <div class="singleduCard">
              <!-- <h2>LPA Findings</h2> -->
              <p>Document the source of funds for any single deposit that exceeds $3,125.00, which is 50% of the total monthly
                qualifying income OR reduce the asset amount by the unverified deposit and resubmit.
                <button class="btn btn-convert">Convert to Conditions</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="lineBreak">
      </div> -->
    <div class="footer row">
      <span class="footerContent">Copyright &#169; 2018 - FinRules. All rights reserved.</span>
      <span class="right-content">
            <label>Powered By:</label>
            <span class="logo"></span>
      </span>
    </div>
  </div>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/sideMenu.js"></script>
  <script src="../assets/js/conditiontype.js"></script>
</body>

</html>