<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>:: FinRules ::</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet/less" type="text/css" href="../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>
</head>

<body>
  <div class="conditionContainer">
    <header>
      <div class="headerLogo row">
        <ul class="col-md-6 col-xs-6 padding0">
          <li class="col icon">
            <span class="logoIcon"></span>
          </li>
          <li class="col">
            <span class="logoName"></span>
          </li>
        </ul>
        <ul class="col-md-3 col-xs-3 padding0 pull-right">
          <div class="pull-right">
            <li class="col text-right padding0">
              <h3>John Smith</h3>
              <label>Underwriter</label>
            </li>
            <li class="col">
              <span class="userIcon"></span>
              <i class="fa fa-caret-down"></i>
            </li>
          </div>
        </ul>
      </div>
      <div class="loanDetails row">
        <h3 class="col-md-2 col-xs-2">LOAN # W2018030139</h3>
        <ul class="loanInformation col-md-7 col-xs-7">
          <li class="col-md-3 col-xs-3">
            <label>Borrower</label>
            <span>Firstimer, Alice</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Loan Status</label>
            <span>In Underwriting</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Purchase Price</label>
            <span>$ 250,000.00</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Total Loan Amount</label>
            <span>$ 217,150.00</span>
          </li>
        </ul>        
      </div>
      <div class="row loanMenu">
        <div class="hamMenu col-md-2 col-xs-2">
          <i class="fa fa-bars"></i>
          <label>AUS - LP</label>
        </div>
        <ul class="col-md-7 col-xs-7 loanReport">
          <li class="col-md-3 col-xs-3">
            <label>Reference No.</label>
            <span>3198764789</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Requested By</label>
            <span>Charlie</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <label>Recommendation</label>
            <span>Accept</span>
          </li>
          <li class="col-md-3 col-xs-3">
            <button type="submit">Download Report</button>
          </li>
        </ul>
        <div class="col-md-3 col-xs-3">
          <div class="runDu clearfix">
            <div class="col-md-7 col-xs-7">
              <label>Last Run</label>
              <span>1/17/18 2:05 PM</span>
            </div>
            <div class="col-md-5 col-xs-5 padding0">
              <button type="submit" duBtn>Run LP Again</button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="row mainContent">
      <div class="cardView">
        <h2>CONDITION CATEGORY</h2>
        <div class="clearfix cards">
          <div class="individualCard">
            <a href="activecondition.html" onclick="displayIncome(1)">
            <div class="cardHeader">
              <span class="leftIcon"></span>
              <div class="loanStatus">
                <h3>Income</h3>
                <label>Inprogress</label>
              </div>
              <span class="rightIcon"></span>
            </div>
            <div class="cardData">
                <div class="conditionstatus-wrap">
                    <div class="conditionstatus-content">
                <span class="left-content">
                  Total Conditions
                </span>
                <span class="right-content">
                    06
                </span>
              </div>
              </div>
              <div class="statusCount">
                <div class="statusContainer openstatuswrap">
                  <div class="openStatus">
                    <label>06</label>
                  </div>
                  <span>Open</span>
                </div>
                <div class="statusContainer">
                  <div class="closeStatus">
                    <label>04</label>
                  </div>
                  <span>Closed</span>
                </div>
              </div>
            </div>
            <div class="configuration text-center">
              <span class="glyphicon glyphicon-cog"></span>
            </div>
          </a>
        </div>
          <div class="individualCard">
              <a href="activecondition.html">
            <div class="cardHeader">
              <span class="leftIcon"></span>
              <div class="loanStatus">
                <h3>Property</h3>
                <label>Inprogress</label>
              </div>
              <span class="rightIcon"></span>
            </div>
            <div class="cardData">
              <div class="conditionstatus-wrap">
                  <div class="conditionstatus-content">
              <span class="left-content">
                Total Conditions
              </span>
              <span class="right-content">
                  07
              </span>
            </div>
            </div>
              <div class="statusCount">
                <div class="statusContainer openstatuswrap">
                  <div class="openStatus">
                    <label>06</label>
                  </div>
                  <span>Open</span>
                </div>
                <div class="statusContainer">
                  <div class="closeStatus">
                    <label>04</label>
                  </div>
                  <span>Closed</span>
                </div>
              </div>
            </div>
            <div class="configuration text-center">
              <span class="glyphicon glyphicon-cog"></span>
            </div>
          </a>
        </div>

          <div class="individualCard">
              <a href="assets.html">
            <div class="cardHeader">
              <span class="leftIcon"></span>
              <div class="loanStatus">
                <h3>Asset</h3>
                <label>Inprogress</label>
              </div>
              <span class="rightIcon"></span>
            </div>
            <div class="cardData">
                <div class="conditionstatus-wrap">
                    <div class="conditionstatus-content">
                <span class="left-content">
                  Total Conditions
                </span>
                <span class="right-content">
                    09
                </span>
              </div>
              </div>
              <div class="statusCount">
                <div class="statusContainer openstatuswrap">
                  <div class="openStatus">
                    <label>06</label>
                  </div>
                  <span>Open</span>
                </div>
                <div class="statusContainer">
                  <div class="closeStatus">
                    <label>04</label>
                  </div>
                  <span>Closed</span>
                </div>
              </div>
            </div>
            <div class="configuration text-center">
              <span class="glyphicon glyphicon-cog"></span>
            </div>
          </a>
        </div>

          <div class="individualCard">
              <a href="activecondition.html">
            <div class="cardHeader">
              <span class="leftIcon"></span>
              <div class="loanStatus">
                <h3>Borrower</h3>
                <label>Completed</label>
              </div>
              <span class="rightIcon"></span>
            </div>
            <div class="cardData">
                <div class="conditionstatus-wrap">
                    <div class="conditionstatus-content">
                <span class="left-content">
                  Total Conditions
                </span>
                <span class="right-content">
                    04
                </span>
              </div>
              </div>
              <div class="statusCount">
                <div class="statusContainer openstatuswrap">
                  <div class="openStatus">
                    <label>00</label>
                  </div>
                  <span>Open</span>
                </div>
                <div class="statusContainer">
                  <div class="closeStatus">
                    <label>04</label>
                  </div>
                  <span>Closed</span>
                </div>
              </div>
            </div>
            <div class="configuration text-center">
              <span class="glyphicon glyphicon-cog"></span>
            </div>
          </a>
        </div>
          <div class="individualCard">
              <a href="activecondition.html">
            <div class="cardHeader">
              <span class="leftIcon"></span>
              <div class="loanStatus">
                <h3>Credit</h3>
                <label>Completed</label>
              </div>
              <span class="rightIcon"></span>
            </div>
            <div class="cardData">
                <div class="conditionstatus-wrap">
                    <div class="conditionstatus-content">
                <span class="left-content">
                  Total Conditions
                </span>
                <span class="right-content">
                    04
                </span>
              </div>
              </div>
              <div class="statusCount">
                <div class="statusContainer openstatuswrap">
                  <div class="openStatus">
                    <label>00</label>
                  </div>
                  <span>Open</span>
                </div>
                <div class="statusContainer">
                  <div class="closeStatus">
                    <label>04</label>
                  </div>
                  <span>Closed</span>
                </div>
              </div>
            </div>
            <div class="configuration text-center">
                <span class="glyphicon glyphicon-cog"></span>
            </div>
          </a>
        </div>
        </div>
      </div>
      <div class="startExecution">
        <button type="submit" class="btn btn-primary">
        <label>Start Execution</label>
				<span></span>
			</button>
      </div>
      <div class="lineBreak">
      </div>
      <div class="duFindings clearfix">
        <h2>UNASSIGNED
          <span>(03)</span>
        </h2>
        <div class="duCards">
          <div class="singleduCard">
            <h2>LP Findings</h2>
            <p>Hazard ins for 100 percent of insured value or equal to total liens if 80 percent of insured value max deduct
              no greater
            </p>
          </div>
        </div>
        <div class="duCards">
          <div class="singleduCard">
            <h2>LP Findings</h2>
            <p>Hazard ins for 100 percent of insured value or equal to total liens if 80 percent of insured value max deduct
              no greater
            </p>
          </div>
        </div>
        <div class="duCards">
          <div class="singleduCard">
            <h2>LP Findings</h2>
            <p>Hazard ins for 100 percent of insured value or equal to total liens if 80 percent of insured value max deduct
              no greater
            </p>
          </div>
        </div>
      </div>
      <div class="lineBreak">
      </div>
      <div class="footer">
          <span>Copyright &#169; 2018 - FinRules. All rights reserved.</span><span class="right-content">Powered By:<span class="logo"></span></span>
        </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../assets/js/activeCondition.js"></script>
</body>

</html>