<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>:: FinRules</title>
  <link rel="stylesheet/less" type="text/css" href="../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>
</head>

<body>
  <main>
    <!-- <div class="loginWrapper">
      <div class="logo">
      </div>
      <div class="border-bottom"></div>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="email" placeholder="Email" name="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="passsword" placeholder="Password" name="password">
        </div>
        <div class="buttonWrapper text-center">
          <a href="pipeline.html"><button type="button" class="btn btn-primary">Login</button></a>
        </div>
        <a href="javascript:void(0)" class="text-center">Forgot Password?</a>
      </form>
    </div>
    <div class="footer">
      <span class="footerContent">Copyright &#169; 2018 - FinRules. All rights reserved.</span>
      <span class="right-content">
        <label>Powered By:</label>
        <span class="logo"></span>
      </span>
    </div> -->
    <div class="login-wrap">
      <div class="loginimage-wrap">
        <span class="loginlogo"></span>
        <p class="copyright">Copyrights &copy; 2018 - FinRules - All Rights Reserved.</p>
        <div id="myCarousel" class="carousel slide carousel-fade" data-interval="6000" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">

            <div class="item active item1">
              <!-- <img src="../assets/images/login1.png" alt="image" style="width:100%;height:100vh"> -->
              <div class="carousel-caption slide-right">
                <div class="content">
                  <h3>Smart<br>Decision</h3>
                  <p class="label1"><span></span>Data Driven Validations</p>
                  <p class="label2"><span></span>Enhance Underwriting Capabilities</p>
                </div>
              </div>
            </div>

            <div class="item item2">
              <!-- <img src="../assets/images/login2.png" alt="image" style="width:100%;height:100vh"> -->
              <div class="carousel-caption slide-right">
                <div class="content">
                  <h3>Rule<br>Based Validation</h3>
                  <p class="label1"><span></span>Convert Findings to Conditions</p>
                  <p class="label2"><span></span>Auto-satisfy and Continuous Monitoring</p>
                </div>
              </div>
            </div>

            <div class="item item3">
              <!-- <img src="../assets/images/login3.png" alt="image" style="width:100%;height:100vh"> -->
              <div class="carousel-caption slide-right">
                <div class="content">
                  <h3>Automated<br>Digital Approach</h3>
                  <p class="label1"><span></span>Quick Loan Processing</p>
                  <p class="label2"><span></span>Alert &amp; Notify Process Groups</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="logindescription-wrap">
        <div class="logindescription-content">
          <div class="usericon-wrap">
            <span class="usericon"></span>
          </div>
          <p class="theme">One Stop Solution<br>For Underwriter</p>
          <p class="note">Getting started is quick and simple,<br>just fill out the info below!</p>
          <div class="form">
            <form>
              <div class="form-group logininput-wrap">
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" autocomplete="off">
              </div>
              <div class="form-group logininput-wrap password-wrap">
                <input type="password" class="form-control" placeholder="Password" name="pwd" id="passwrd">

                <a class="showpassword-icon" onclick="showPassword()"></a>
              </div>
              <div class="loginbtn-wrap"><a href="pipeline.html"><button type="button" class="btn btn-default login-button">LOGIN</button></a></div>
              <a href="javascript:void(0)" class="passwordhelp">Forgot Password?</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/login.js"></script>
</body>

</html>