<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>::FinRules::</title>
  <link rel="stylesheet/less" type="text/css" href="../../assets/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>

</head>

<body>
  <!-- Header section -->
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo-wrap" href="javascript:void(0)"><span class="logo"></span></a>
        </div>
        <ul class="nav navbar-nav nav-pills headerlinks">
          <li><a href="../admin.html">DASHBOARD</a></li>
          <li class="active"><a href="../pipeline.html">PIPELINE</a></li>
          <li><a href="../adminConfig.html">ADMIN CONFIG</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right dashboardhead-right">
          <li class="username-wrap">
            <span class="user">John Smith</span>
            <span class="profession">Underwriter</span>
          </li>
          <li>
            <a href="javascript:void(0)">
            <span class="usericon-wrap"><span class="user-icon"></span></span>
            <span class="dropdown-icon"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="conditionWrapper">
    <ol class="breadcrumb customBreadcrums row">
      <li><a href="../pipeline.html">Pipeline</a></li>
      <li><a href="loanSummary7.html">Loan Summary</a></li>
      <li><a href="conditiontype7.html">Condition Category</a></li>
      <li><a href="activecondition7.html">Income</a></li>
      <li><a class="active" href="javascript:void(0)">Add Condition</a></li>
    </ol>
    <!-- loan details header -->
    <div class="loanDetails row">
      <h3 class="col-md-2 col-xs-2">LOAN # W2017110127</h3>
      <ul class="loanInformation col-md-7 col-xs-7">
        <li class="col-md-3 col-xs-3">
          <label>Borrower</label>
          <span>Ella, Alice</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Loan Status</label>
          <span>In Underwriting</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Purchase Price</label>
          <span>$ 800,000.00</span>
        </li>
        <li class="col-md-3 col-xs-3">
          <label>Total Loan Amount</label>
          <span>$ 736,000.00</span>
        </li>
      </ul>
      <div class="backButton pull-right">
        <a href="../pipeline.html"><button class="btn btn-back">Back to Pipeline</button></a>
      </div>
    </div>
    <div id="duFindingsWrapper" class="row">
    </div>
    <!-- select condition type -->
    <div class="row loanMenu">
      <div class="hamMenu clearfix">
        <div class="col hamIcon paddingLeft">
          <a href="javascript:void(0)" class="hamperIcon" onclick="showsideMenu()"></a>
        </div>
        <a href="activecondition7.html" class="col leftArrow padding0"></a>
        <h3 class="col summaryLabel">ADD Condition</h3>
      </div>
      <nav id="sideMenu">
        <ul>
          <li><a href="javascript:void(0)"><span class="closeSideMenu"></span></a></li>
          <li><a class="mainMenu activeMenu" href="loanSummary7.html" id="loansummary">LOAN SUMMARY</a></li>
          <!-- <li><a class="mainMenu" href="javascript:void(0)" id="aus">AUS FINDING</a></li> -->
          <li><a class="mainMenu" href="conditiontype7.html" id="cond">CONDITION CATEGORY</a></li>
          <li><a class="mainMenu" href="javascript:void(0)" id="data">LOAN DATA</a></li>
        </ul>
      </nav>
    </div>

    <!-- main content -->
    <div class="mainSection row">
      <section>
        <h2>CONDITION</h2>
        <div class="incomeData clearfix">
          <div class="col-xs-4">
            <label>Condition Category :</label>
            <span>Income</span>
          </div>
          <div class="col-xs-4">
            <label for="category">Condition Name :</label>
            <select class="form-control col-xs-8 pull-right" id="category" onchange="showcondition()">
                <option>- Select - </option>
                <option>Automobile Allowance</option>
                <option>Boarder Income</option>
                <option>Capital Gains Income</option>                  
                <option>Disability Income</option>
                <option>Foreign Income</option>
                <option data-toggle="collapse" href="#tip">Tip Income</option>
                <option>Foster - Care Income</option>
                <option>Mortgage Credit Certifications</option>                  
                <option>Military Base Pay</option>
                <option>Notes Receivable</option>
                <option>Overtime</option>
                <option>Public Assistance Income</option>
                <option>Schedule K-1 Income</option>                  
                <option>Social Security Income</option>
                <option>Unemployment Benefits Income</option>
                <option>VA Benefits Income</option>
              </select>
          </div>
        </div>
        <div class="incomeData clearfix showIncome" id="selectCategory">
          <div class="col-xs-4">
            <label class="form-group">Condition Category :</label>
            <span>Prior To Approval</span>
          </div>
          <div class="col-xs-8">
            <label class="form-group">Condition for Loan :</label>
            <p> CREDIT: PAYSTUBS / W-2S OR OTHER INCOME VALIDATION PER AUS FINDINGS TO SUPPORT INCOME AND MEET AUS FINDING REQUIREMENTS
              (PAYSTUBS MUST BE DATED WITHIN 30 DAYS OF APPLICATION).</p>
          </div>
        </div>
      </section>
      <section class="showActiveList" id="showtask">
        <h2>TASKS</h2>
        <div class="editCondition">
          <div class="descriptionList">
            <div class="detail maincontentList">
              <ul class="clearfix  incomeList">
                <li class="col-xs-3" data-toggle="collapse" href="#content1" onclick="rotate()"><span class="dropdownIcon" id="rotateArrow"></span>Upload W2 of Previous Year</li>
                <li class="col-xs-3">Loan Officer</li>
                <li class="col-xs-3 pull-right text-center">
                  <span class="plusIcon">OR</span>
                </li>
              </ul>
              <div id="content1" class="panel-collapse collapse incomedes">
                <div class="sourceincomeInformation">
                  <p><span>Description : </span> Employment Income must be supported by W2(s) for the most recent calendar year</p>
                </div>
                <section class="businessruleedit">
                  <div class="fluid-container">
                    <section class="task-wrap">
                      <div class="row">
                        <div class="col-xs-4"><span class="topic">Fields</span></div>
                        <div class="col-xs-8"><span class="topic">Business Rule</span></div>
                      </div>
                      <div class="row">
                        <div class="col-xs-4"><span class="content">Year</span></div>
                        <div class="col-xs-2">
                          <select class="form-control select-wrap" readonly>
                                          <option class="content">Equal to</option>
                                          <option class="content">Less than</option>                
                                          <option class="content">Greater than</option>
                                          </select>
                          <span class="select-icon"></span>
                          <!-- <div>
                              <label class="checkboxx">Tolerance Level
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                          </label>
                            </div> -->
                        </div>
                        <div class="col-xs-4">
                          <span class="col-xs-2 content textbox-content">Year</span>
                          <div class="col-xs-6">
                            <select class="form-control" readonly>
                                          <option class="content">2017</option>               
                                          </select>
                            <span class="select-icon"></span>
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-xs-4"><span class="content">Employee Name ( Last, First )</span></div>
                        <!-- <div class="col-xs-8"><span class="name-content">Firstimer, Alice</span></div> -->
                      </div>
                      <div class="row">
                        <div class="col-xs-4"><span class="content">Social Security Number</span></div>
                        <!-- <div class="col-xs-8"><span class="name-content">xxxx-xxx-123</span></div> -->
                      </div>
                      <div class="row">
                        <div class="col-xs-4"><span class="content">Employer Name</span></div>
                        <!-- <div class="col-xs-8"><span class="name-content">Google. Inc.</span></div> -->
                      </div>
                    </section>
                    <section class="income-calculator">
                      <h4 class="topic">Income Calculator</h4>
                      <div class="row row-wrap">
                        <div class="col-xs-4"><span class="content">Wages, Tips and Compensation</span></div>
                        <div class="col-xs-8 row row1">
                          <div class="col-xs-2 checkbox-wrap">
                            <!-- <span class="computeCheckbox"></span>
                                <span class="computeLabel content">Compute</span> -->
                            <label class="checkboxx disabledChecbox">Compute
                                    <input type="checkbox" checked="checked" readonly>
                                    <span class="checkmark"></span>
                                  </label>
                          </div>
                          <div class="col-xs-2">
                            <span class="provideLabel topic-txtbx">Provided Value</span>
                          </div>
                          <div class="col-xs-3">
                            <select class="form-control" readonly>
                                      <option class="content">Divide ( / )</option>
                                  </select>
                            <span class="select-icon"></span>
                          </div>
                          <div class="col-xs-2">
                            <div class="inputWrapper">
                              <input type="text" class="form-control computedValue" name="quantity" value="12" readonly>
                              <span class="select-icon1"></span>
                              <span class="select-icon2"></span>
                            </div>
                            <span class="equals">=</span>
                            <!-- -->
                            <!-- <span class="computedValueIcon"></span>   -->
                          </div>
                          <!-- <div class="col-xs-2">
                              <div class="inputWrapper">
                                <input type="text" class="form-control computedValue" name="quantity" value="Frequency">
                                <span class="select-icon1"></span>
                                <span class="select-icon2"></span>
                              </div>
                              <span class="equals">=</span>
                              <span class="computedValueIcon"></span>  
                            </div> -->
                          <div class="col-xs-1">
                            <span class="computedLabel topic-txtbx content">Computed Value</span>
                          </div>
                        </div>
                        <div class="col-xs-8 col-xs-offset-4">
                          <div class="col-xs-2 checkbox-wrap">

                            <!-- <span class="computeCheckbox"></span>
                                  <span class="computeLabel content">Toerance Level</span> -->
                            <label class="checkboxx disabledChecbox">Tolerance Level
                                      <input type="checkbox" checked="checked" readonly>
                                      <span class="checkmark"></span>
                                    </label>
                          </div>
                          <div class="col-xs-2">
                          </div>
                          <div class="col-xs-3">
                            <select class="form-control" readonly>
                                        <option class="content">Less Than</option>
                                    </select>
                            <span class="select-icon"></span>
                          </div>
                          <div class="col-xs-2">
                            <div class="inputWrapper">
                              <input type="text" class="form-control computedValue" name="quantity" value="6" readonly>
                              <span class="select-icon1"></span>
                              <span class="select-icon2"></span>
                            </div>
                            <span class="percentage">%</span>
                          </div>
                          <!-- <div class="col-xs-2">      
                                </div> -->
                        </div>
                      </div>
                    </section>
                  </div>
                </section>

              </div>
            </div>
            <div class="maincontentList">
              <ul class="clearfix incomeList">
                <li class="col-xs-3" data-toggle="collapse" href="#content2"><span class="dropdownIcon" id="rotateArrow"></span>Upload the most recent Paystub</li>
                <li class="col-xs-3">Loan Officer</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="buttonAndFooter row">
      <div class="buttonWrapper clearfix">
        <a href="activecondition7.html" onclick="displayDuLp(5)">
          <button type="submit" class="btn btn-primary saveUser" id="savej-link">
              <span></span>
              <label>Add</label>
         </button>
        </a>
        <!-- <a href="activecondition.html" onclick="displayDuLp(5)">
          <button type="submit" class="btn btn-primary save" id="save-link">
              <span></span>
              <label>Save &amp; Add to All Browsers</label>
          </button>
        </a> -->
        <div class="multipleDropdown">
            <label id="selectedValues">
                <label class="leftView droptext">Select Borrower</label>
                <input type="text" name="selectedNames" placeholder="All Borrowers" class="droptext" id="dropValue" readonly/>
                <label class="dropdown droptext">
                  <span></span>
                </label>
            </label>
            <div class="options" id="options">
              <label for="selectAll" class="selectAll cardCheck">
                  <input id="selectAll" type="checkbox" value="All Borrowers" name="selectAll" />
                  <span>All Browsers</span>
                  <span class="checkmark"></span>
                </label>
              <label for="audi" class="option cardCheck">
                  <input id="audi" class="carName" type="checkbox" value="Price Ella" name="Price Ella" />
                  <span>Price Ella</span>
                  <span class="checkmark"></span>
                </label>
              <label for="Chevrolet" class="option cardCheck">
                    <input id="Chevrolet" class="carName" type="checkbox" value="Patrick Firstimer" name="Patrick Firstimer"/>
                    <span>Patrick Firstimer</span>
                    <span class="checkmark"></span>
                </label>
            </div>
          </div>
        <a href="activecondition7.html">
          <button type="submit" class="btn btn-primary cancel" id="cancel-link">
              <span></span>
              <label>Cancel</label>
          </button>
        </a>
      </div>
      <div class="footer">
        <span class="footerContent">Copyright &#169; 2018 - Finrules. All rights reserved.</span>
        <span class="right-content">
              <label>Powered By:</label>
              <span class="logo"></span>
        </span>
      </div>
    </div>
  </div>
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/sideMenu.js"></script>
  <script src="../../assets/js/comparison.js"></script>
  <script src="../../assets/js/conditionFlowScript.js"></script>
</body>

</html>
<!-- -->